workflows/n8n/MerhabaMap AI Plausibility Checker v2 (Events).json
{
  "name": "MerhabaMap AI Plausibility Checker v2 (Events)",
  "nodes": [
    {
      "parameters": {},
      "id": "89a58712-1558-4d70-a642-b4596c577942",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -944,
        496
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  e.id,\n  e.slug,\n  e.title,\n  e.description_de,\n  e.category,\n  e.city_id,\n  c.name_de AS city_name,\n  e.venue_name,\n  e.starts_at,\n  e.organizer_name,\n  e.external_url,\n  e.created_at,\n  e.updated_at,\n  e.ai_last_checked_at\nFROM events e\nLEFT JOIN cities c ON c.id = e.city_id\nWHERE (\n  e.ai_last_checked_at IS NULL\n  OR e.updated_at > e.ai_last_checked_at\n)\nORDER BY e.created_at DESC\nLIMIT 100;",
        "options": {}
      },
      "id": "764dc9af-27f8-4df7-aca1-9baee4505253",
      "name": "Load Unchecked Events",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -704,
        496
      ],
      "credentials": {
        "postgres": {
          "id": "oU7owFOSEWav7sce",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "function compact(value, maxLen = 1200) {\n  const v = String(value || '').replace(/\\s+/g, ' ').trim();\n  return v.length > maxLen ? v.slice(0, maxLen) : v;\n}\n\nfunction normalizeUrl(url) {\n  const u = String(url || '').trim();\n  if (!u || u === 'undefined' || u === 'null') return null;\n  return u;\n}\n\nfunction titleFlags(title) {\n  const t = String(title || '').toLowerCase().trim();\n  return {\n    looks_generic:\n      /^home\\b/.test(t) ||\n      /^discover\\b/.test(t) ||\n      /^definition\\b/.test(t) ||\n      /^tickets?\\b/.test(t) ||\n      /^events?\\b$/.test(t) ||\n      /^veranstaltungen\\b$/.test(t) ||\n      /^termine\\b$/.test(t),\n    looks_ticket_platform:\n      /adticket|eventim|getgo|ticketmaster|reservix|koelnticket/.test(t)\n  };\n}\n\nconst externalUrl = normalizeUrl($json.external_url);\nconst flags = titleFlags($json.title);\n\nreturn {\n  json: {\n    entity_type: 'event',\n    entity_id: $json.id,\n    model_name: 'gemini-2.5-flash',\n    ai_input: {\n      title: compact($json.title, 200),\n      description_de: compact($json.description_de, 1400),\n      category: $json.category || null,\n      city_id: $json.city_id || null,\n      city_name: $json.city_name || null,\n      venue_name: compact($json.venue_name, 160),\n      starts_at: $json.starts_at || null,\n      organizer_name: compact($json.organizer_name, 160),\n      external_url: externalUrl,\n      flags\n    }\n  }\n};"
      },
      "id": "c738aee8-57bf-4f86-9c6a-7b387e090542",
      "name": "Prepare AI Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -464,
        496
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ \"https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent?key=AIzaSyATbxjaR9um663V2aBxwuKex2cGbPn_V0U\" }}",
        "sendHeaders": true,
        "specifyHeaders": "usingJSON",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({\n  contents: [\n    {\n      parts: [\n        {\n          text: [\n            \"Du prüfst Event-Datensätze für MerhabaMap auf Plausibilität.\",\n            \"Antworte NUR als valides JSON.\",\n            \"Bewerte konservativ.\",\n            \"Wenn unklar, dann REVIEW oder UNSURE statt OK.\",\n            \"Erlaubte status-Werte: OK, REVIEW, REJECT, UNSURE\",\n            \"Erlaubte suggested_action-Werte: keep, send_to_moderation, reject\",\n            \"\",\n            \"Zu prüfender Datensatz:\",\n            JSON.stringify($json.ai_input)\n          ].join(\"\\n\")\n        }\n      ]\n    }\n  ],\n  generationConfig: {\n    responseMimeType: \"application/json\",\n    responseSchema: {\n      type: \"OBJECT\",\n      properties: {\n        status: {\n          type: \"STRING\",\n          enum: [\"OK\", \"REVIEW\", \"REJECT\", \"UNSURE\"]\n        },\n        confidence: {\n          type: \"NUMBER\"\n        },\n        reason_codes: {\n          type: \"ARRAY\",\n          items: {\n            type: \"STRING\"\n          }\n        },\n        is_plausible: {\n          type: \"BOOLEAN\"\n        },\n        suggested_action: {\n          type: \"STRING\",\n          enum: [\"keep\", \"send_to_moderation\", \"reject\"]\n        },\n        notes: {\n          type: \"STRING\"\n        }\n      },\n      required: [\n        \"status\",\n        \"confidence\",\n        \"reason_codes\",\n        \"is_plausible\",\n        \"suggested_action\",\n        \"notes\"\n      ]\n    }\n  }\n}) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 60000
        }
      },
      "id": "08e19f7c-78d6-42f6-a0cc-058148f79928",
      "name": "Call Gemini AI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -208,
        496
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const txt = $json.candidates?.[0]?.content?.parts?.[0]?.text || '{}';\n\nlet parsed;\ntry {\n  parsed = JSON.parse(txt);\n} catch (e) {\n  parsed = {\n    status: 'UNSURE',\n    confidence: 0,\n    reason_codes: ['INVALID_JSON'],\n    is_plausible: false,\n    suggested_action: 'send_to_moderation',\n    notes: 'Gemini-Antwort konnte nicht als JSON geparst werden.'\n  };\n}\n\nconst allowedStatus = ['OK', 'REVIEW', 'REJECT', 'UNSURE'];\nconst allowedAction = ['keep', 'send_to_moderation', 'reject'];\n\nreturn {\n  json: {\n    entity_type: 'event',\n    entity_id: $items('Prepare AI Input')[0].json.entity_id,\n    model_name: 'gemini-2.5-flash',\n    ai_status: allowedStatus.includes(parsed.status) ? parsed.status : 'UNSURE',\n    confidence_score: typeof parsed.confidence === 'number' ? Math.max(0, Math.min(1, parsed.confidence)) : 0,\n    reason_codes_json: JSON.stringify(Array.isArray(parsed.reason_codes) ? parsed.reason_codes : ['NO_REASON_CODES']),\n    explanation: parsed.notes || null,\n    suggested_action: allowedAction.includes(parsed.suggested_action) ? parsed.suggested_action : 'send_to_moderation',\n    raw_result_json: JSON.stringify(parsed)\n  }\n};"
      },
      "id": "b19b9018-f0ff-4808-8347-d16a71d7846c",
      "name": "Parse Gemini Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        64,
        496
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO ai_quality_checks (\n  id,\n  entity_type,\n  entity_id,\n  model_name,\n  ai_status,\n  confidence_score,\n  reason_codes,\n  explanation,\n  suggested_action,\n  raw_result_json,\n  checked_at,\n  created_at\n)\nVALUES (\n  gen_random_uuid()::text,\n  '{{ ($json.entity_type || \"event\").replace(/'/g, \"''\") }}',\n  '{{ ($json.entity_id || \"\").replace(/'/g, \"''\") }}',\n  '{{ ($json.model_name || \"unknown\").replace(/'/g, \"''\") }}',\n  '{{ ($json.ai_status || \"UNSURE\").replace(/'/g, \"''\") }}',\n  {{ $json.confidence_score !== undefined ? $json.confidence_score : 'NULL' }},\n  {{ $json.reason_codes_json ? \"'\" + $json.reason_codes_json.replace(/'/g, \"''\") + \"'::jsonb\" : \"'[]'::jsonb\" }},\n  {{ $json.explanation ? \"'\" + $json.explanation.replace(/'/g, \"''\") + \"'\" : 'NULL' }},\n  '{{ ($json.suggested_action || \"send_to_moderation\").replace(/'/g, \"''\") }}',\n  {{ $json.raw_result_json ? \"'\" + $json.raw_result_json.replace(/'/g, \"''\") + \"'::jsonb\" : 'NULL' }},\n  NOW(),\n  NOW()\n)\nRETURNING id, entity_type, entity_id, ai_status, confidence_score, checked_at;",
        "options": {}
      },
      "id": "ce619bd6-3383-48d7-be35-a7853599c971",
      "name": "Insert AI Quality Check",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        320,
        384
      ],
      "credentials": {
        "postgres": {
          "id": "oU7owFOSEWav7sce",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE events\nSET ai_review_status = '{{ ($json.ai_status || \"UNSURE\").replace(/'/g, \"''\") }}',\n    ai_confidence_score = {{ $json.confidence_score !== undefined ? $json.confidence_score : 'NULL' }},\n    ai_last_checked_at = NOW(),\n    updated_at = NOW()\nWHERE id = '{{ ($json.entity_id || \"\").replace(/'/g, \"''\") }}'\nRETURNING id, ai_review_status, ai_confidence_score, ai_last_checked_at;",
        "options": {}
      },
      "id": "0a45308c-18a2-4c1b-a13c-d621cfcd4e7f",
      "name": "Update Event AI Flags",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        320,
        592
      ],
      "credentials": {
        "postgres": {
          "id": "oU7owFOSEWav7sce",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "68bb31e6-ee35-4f9e-aeb2-bd917d25412a",
      "name": "Merge DB Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        560,
        496
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  e.id,\n  e.title,\n  e.ai_review_status,\n  e.ai_confidence_score,\n  e.ai_last_checked_at\nFROM events e\nWHERE e.ai_last_checked_at IS NOT NULL\nORDER BY e.ai_last_checked_at DESC\nLIMIT 20;",
        "options": {}
      },
      "id": "27555cc1-2f6e-4547-9897-671e46e97818",
      "name": "Show Checked Events",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        800,
        496
      ],
      "credentials": {
        "postgres": {
          "id": "oU7owFOSEWav7sce",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Load Unchecked Events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Unchecked Events": {
      "main": [
        [
          {
            "node": "Prepare AI Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare AI Input": {
      "main": [
        [
          {
            "node": "Call Gemini AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Gemini AI": {
      "main": [
        [
          {
            "node": "Parse Gemini Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Gemini Result": {
      "main": [
        [
          {
            "node": "Insert AI Quality Check",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update Event AI Flags",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert AI Quality Check": {
      "main": [
        [
          {
            "node": "Merge DB Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Event AI Flags": {
      "main": [
        [
          {
            "node": "Merge DB Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge DB Results": {
      "main": [
        [
          {
            "node": "Show Checked Events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "4a25087d-99bb-4d42-8b21-ea74935f1f85",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cb95f67de3eb2bd513200bc3cead3abaa69e890ba0a912740169783b0cf2958b"
  },
  "id": "4i6R9zu8p4t2zdwm",
  "tags": []
}