workflows/n8n/MerhabaMap AI Recheck Worker v2.2.json
{
  "name": "MerhabaMap AI Recheck Worker v2.2",
  "nodes": [
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  r.id AS request_id,\n  r.entity_type,\n  r.entity_id,\n  r.requested_by_user_id,\n  r.status,\n  r.created_at AS request_created_at,\n  e.id AS event_id,\n  e.slug AS event_slug,\n  e.title,\n  e.description_de,\n  e.category,\n  e.city_id AS event_city_id,\n  ec.name_de AS event_city_name,\n  e.venue_name,\n  e.starts_at,\n  e.organizer_name,\n  e.external_url,\n  p.id AS place_id,\n  p.slug AS place_slug,\n  p.name,\n  p.description_de AS place_description_de,\n  p.category_id,\n  pc.name_de AS category_name,\n  p.city_id AS place_city_id,\n  plc.name_de AS place_city_name,\n  p.address_line_1,\n  p.postal_code,\n  p.latitude,\n  p.longitude,\n  p.website_url,\n  p.phone\nFROM ai_recheck_requests r\nLEFT JOIN events e\n  ON r.entity_type = 'event' AND e.id = r.entity_id\nLEFT JOIN cities ec\n  ON ec.id = e.city_id\nLEFT JOIN places p\n  ON r.entity_type = 'place' AND p.id = r.entity_id\nLEFT JOIN cities plc\n  ON plc.id = p.city_id\nLEFT JOIN place_categories pc\n  ON pc.id = p.category_id\nWHERE r.status = 'PENDING'\nORDER BY r.created_at ASC\nLIMIT 25;",
        "options": {}
      },
      "id": "4eddc271-6086-42ff-bef2-ffd81a244601",
      "name": "Load Pending AI Recheck Requests",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -3200,
        992
      ],
      "credentials": {
        "postgres": {
          "id": "oU7owFOSEWav7sce",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE ai_recheck_requests\nSET status = 'PROCESSING',\n    error_message = NULL,\n    updated_at = NOW()\nWHERE id = '{{ ($json.request_id || \"\").replace(/'/g, \"''\") }}'\n  AND status = 'PENDING'\nRETURNING id AS request_id, status, updated_at;",
        "options": {}
      },
      "id": "683bfce0-1b3e-4718-986f-c565313489bc",
      "name": "Mark Request Processing",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -2976,
        1008
      ],
      "credentials": {
        "postgres": {
          "id": "oU7owFOSEWav7sce",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "904e7afd-c5dd-4205-ae01-9b6ae28038af",
      "name": "Merge Request Context",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -2752,
        992
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "function compact(value, maxLen = 1200) {\n  const v = String(value || '').replace(/\\s+/g, ' ').trim();\n  return v.length > maxLen ? v.slice(0, maxLen) : v;\n}\n\nfunction normalizeUrl(url) {\n  const u = String(url || '').trim();\n  if (!u || u === 'undefined' || u === 'null') return null;\n  return u;\n}\n\nfunction normalizeAddress(line1, postalCode, cityName) {\n  const parts = [line1, postalCode, cityName]\n    .map(v => String(v || '').trim())\n    .filter(Boolean);\n  return parts.length ? parts.join(', ') : null;\n}\n\nconst item = $json;\nconst entityType = item.entity_type;\nconst entityExists = entityType === 'event' ? !!item.event_id : !!item.place_id;\n\nlet aiInput = null;\nif (entityExists && entityType === 'event') {\n  aiInput = {\n    title: compact(item.title, 200),\n    description_de: compact(item.description_de, 1500),\n    category: item.category || null,\n    city_id: item.event_city_id || null,\n    city_name: item.event_city_name || null,\n    venue_name: compact(item.venue_name, 200),\n    starts_at: item.starts_at || null,\n    organizer_name: compact(item.organizer_name, 200),\n    external_url: normalizeUrl(item.external_url)\n  };\n}\n\nif (entityExists && entityType === 'place') {\n  aiInput = {\n    name: compact(item.name, 180),\n    description_de: compact(item.place_description_de, 1400),\n    category_id: item.category_id || null,\n    category_name: item.category_name || null,\n    city_id: item.place_city_id || null,\n    city_name: item.place_city_name || null,\n    address_line_1: compact(item.address_line_1, 200),\n    postal_code: compact(item.postal_code, 20),\n    address_compact: normalizeAddress(item.address_line_1, item.postal_code, item.place_city_name),\n    latitude: item.latitude ?? null,\n    longitude: item.longitude ?? null,\n    website_url: normalizeUrl(item.website_url),\n    phone: compact(item.phone, 80)\n  };\n}\n\nreturn {\n  json: {\n    request_id: item.request_id,\n    requested_by_user_id: item.requested_by_user_id,\n    entity_type: entityType,\n    entity_id: item.entity_id,\n    model_name: 'gemini-2.5-flash',\n    entity_exists: entityExists,\n    ai_input: aiInput,\n    worker_error: entityExists ? null : 'ENTITY_NOT_FOUND',\n    retry_attempt: item.retry_attempt ?? 0,\n    max_retries: 2,\n    provider_error_code: null,\n    should_retry: false,\n    retry_delay_seconds: 0\n  }\n};"
      },
      "id": "d66dbe88-06a5-4add-9ef7-8c3a38f00b5f",
      "name": "Prepare AI Input For Recheck",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2528,
        992
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "entity-exists",
              "leftValue": "={{ $json.entity_exists }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "00036b62-158c-40df-be90-b3c9ba344338",
      "name": "IF Entity Exists",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2304,
        992
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE ai_recheck_requests\nSET status = 'FAILED',\n    processed_at = NOW(),\n    updated_at = NOW(),\n    error_message = '{{ (($json.worker_error || \"ENTITY_NOT_FOUND\") + \"\").replace(/'/g, \"''\") }}'\nWHERE id = '{{ ($json.request_id || \"\").replace(/'/g, \"''\") }}'\nRETURNING id AS request_id, status, error_message, processed_at;",
        "options": {}
      },
      "id": "c7e9dfe9-74a8-4c98-b27a-3d4af77b6e4e",
      "name": "Mark Request Failed - Missing Entity",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        160,
        1056
      ],
      "credentials": {
        "postgres": {
          "id": "oU7owFOSEWav7sce",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-goog-api-key",
              "value": "AIzaSyATbxjaR9um663V2aBxwuKex2cGbPn_V0U"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({\n  contents: [\n    {\n      parts: [\n        {\n          text: [\n            $json.entity_type === 'event'\n              ? 'Du prüfst Event-Datensätze für MerhabaMap auf Plausibilität.'\n              : 'Du prüfst Place-Datensätze für MerhabaMap auf Plausibilität.',\n            'Antworte NUR als valides JSON.',\n            'Keine Markdown-Blöcke.',\n            'Keine zusätzlichen Erklärungen außerhalb des JSON.',\n            'Wenn unklar, dann UNSURE oder REVIEW statt OK.',\n            '',\n            'Gib exakt dieses Format zurück:',\n            '{',\n            '  \"ai_status\": \"OK | REVIEW | UNSURE | REJECT\",',\n            '  \"confidence_score\": 0.0,',\n            '  \"reason_codes\": [\"STRING_CODE\"],',\n            '  \"explanation\": \"Short explanation\",',\n            '  \"suggested_action\": \"OK | REVIEW | UNSURE | REJECT | null\"',\n            '}',\n            '',\n            'Zu prüfender Datensatz:',\n            JSON.stringify($json.ai_input)\n          ].join('\\n')\n        }\n      ]\n    }\n  ],\n  generationConfig: {\n    responseMimeType: 'application/json',\n    responseJsonSchema: {\n      type: 'object',\n      properties: {\n        ai_status: {\n          type: 'string',\n          enum: ['OK', 'REVIEW', 'UNSURE', 'REJECT']\n        },\n        confidence_score: {\n          type: 'number'\n        },\n        reason_codes: {\n          type: 'array',\n          items: {\n            type: 'string'\n          }\n        },\n        explanation: {\n          type: 'string'\n        },\n        suggested_action: {\n          anyOf: [\n            {\n              type: 'string',\n              enum: ['OK', 'REVIEW', 'UNSURE', 'REJECT']\n            },\n            {\n              type: 'null'\n            }\n          ]\n        }\n      },\n      required: ['ai_status', 'confidence_score', 'reason_codes', 'explanation']\n    }\n  }\n}) }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true,
              "responseFormat": "json"
            }
          },
          "timeout": 60000
        }
      },
      "id": "0137c625-a481-4516-9413-d16d9395123d",
      "name": "Call Gemini AI Recheck",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -736,
        528
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "b2504518-230a-4f4c-9629-09e15b6472e8",
      "name": "Merge AI Context And Response",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -2080,
        464
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "gemini-success",
              "leftValue": "={{ $json.provider_success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "23648268-dfc9-47ba-b9a8-b3043a7cc217",
      "name": "IF Provider Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1632,
        384
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE ai_recheck_requests\nSET\n  status = 'FAILED',\n  processed_at = NOW(),\n  updated_at = NOW(),\n  error_message = '{{ ($json.provider_error_code || \"provider_http_error\").replace(/'/g, \"''\") }}'\nWHERE id = '{{ ($json.request_id || \"\").replace(/'/g, \"''\") }}'\nRETURNING id AS request_id, status, error_message, processed_at;",
        "options": {}
      },
      "id": "8219b4ab-d215-43b1-842b-4a777c425f15",
      "name": "Mark Request Failed - Provider Error",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -1184,
        704
      ],
      "credentials": {
        "postgres": {
          "id": "oU7owFOSEWav7sce",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "function normalizeWhitespace(value) {\n  return String(value || '').replace(/\\s+/g, ' ').trim();\n}\n\nfunction clamp01(value) {\n  if (typeof value !== 'number' || !Number.isFinite(value)) return null;\n  if (value < 0) return 0;\n  if (value > 1) return 1;\n  return value;\n}\n\nfunction normalizeStatus(raw) {\n  const value = normalizeWhitespace(raw).toUpperCase();\n\n  const map = {\n    OK: 'OK',\n    REVIEW: 'REVIEW',\n    UNSURE: 'UNSURE',\n    REJECT: 'REJECT',\n\n    APPROVE: 'OK',\n    APPROVED: 'OK',\n    KEEP: 'OK',\n\n    MANUAL_REVIEW: 'REVIEW',\n    'MANUAL REVIEW': 'REVIEW',\n    REVIEW_NEEDED: 'REVIEW',\n    'REVIEW NEEDED': 'REVIEW',\n    FLAGGED: 'REVIEW',\n\n    UNKNOWN: 'UNSURE',\n    LOW_CONFIDENCE: 'UNSURE',\n    'LOW CONFIDENCE': 'UNSURE',\n    AMBIGUOUS: 'UNSURE',\n\n    REJECTED: 'REJECT',\n    BLOCK: 'REJECT',\n  };\n\n  return map[value] || 'UNSURE';\n}\n\nfunction normalizeSuggestedAction(raw) {\n  if (raw == null) return null;\n\n  const value = normalizeWhitespace(raw).toUpperCase();\n\n  const map = {\n    OK: 'OK',\n    REVIEW: 'REVIEW',\n    UNSURE: 'UNSURE',\n    REJECT: 'REJECT',\n\n    KEEP: 'OK',\n    SEND_TO_MODERATION: 'REVIEW',\n    'SEND TO MODERATION': 'REVIEW',\n    REVIEW_MANUALLY: 'REVIEW',\n    'REVIEW MANUALLY': 'REVIEW',\n    REJECTED: 'REJECT',\n  };\n\n  return map[value] || null;\n}\n\nfunction normalizeConfidence(raw) {\n  if (raw == null) return null;\n\n  if (typeof raw === 'number') {\n    return clamp01(raw);\n  }\n\n  if (typeof raw === 'string') {\n    const parsed = Number(raw);\n    if (Number.isFinite(parsed)) {\n      return clamp01(parsed);\n    }\n  }\n\n  return null;\n}\n\nfunction normalizeReasonCodes(raw) {\n  let arr = [];\n\n  if (Array.isArray(raw)) {\n    arr = raw.filter(v => typeof v === 'string');\n  } else if (typeof raw === 'string') {\n    arr = [raw];\n  } else {\n    return [];\n  }\n\n  const cleaned = arr\n    .map(v => normalizeWhitespace(v))\n    .filter(Boolean)\n    .map(v => v.toUpperCase().replace(/\\s+/g, '_'))\n    .slice(0, 10);\n\n  return [...new Set(cleaned)];\n}\n\nfunction normalizeExplanation(raw) {\n  if (typeof raw !== 'string') return null;\n  const value = normalizeWhitespace(raw);\n  if (!value) return null;\n  return value.slice(0, 2000);\n}\n\nfunction extractRawText(input) {\n  if (typeof input?.raw_text === 'string' && input.raw_text.trim()) {\n    return input.raw_text.trim();\n  }\n\n  if (typeof input?.data === 'string' && input.data.trim()) {\n    return input.data.trim();\n  }\n\n  const responseBody = input?.body ?? input?.data ?? input;\n  const geminiText =\n    responseBody?.candidates?.[0]?.content?.parts?.[0]?.text;\n\n  if (typeof geminiText === 'string' && geminiText.trim()) {\n    return geminiText.trim();\n  }\n\n  return null;\n}\n\nfunction tryParseJson(rawText) {\n  if (!rawText || typeof rawText !== 'string' || !rawText.trim()) {\n    return { ok: false, error: 'empty_response', parsed: null };\n  }\n\n  try {\n    return { ok: true, error: null, parsed: JSON.parse(rawText) };\n  } catch (e) {}\n\n  const firstBrace = rawText.indexOf('{');\n  const lastBrace = rawText.lastIndexOf('}');\n  if (firstBrace !== -1 && lastBrace !== -1 && lastBrace > firstBrace) {\n    const candidate = rawText.slice(firstBrace, lastBrace + 1);\n    try {\n      return { ok: true, error: null, parsed: JSON.parse(candidate) };\n    } catch (e) {}\n  }\n\n  return { ok: false, error: 'invalid_json', parsed: null };\n}\n\nfunction extractPayload(parsed) {\n  if (!parsed || typeof parsed !== 'object') return {};\n\n  const nestedText = parsed?.candidates?.[0]?.content?.parts?.[0]?.text;\n  if (typeof nestedText === 'string' && nestedText.trim()) {\n    try {\n      return JSON.parse(nestedText);\n    } catch {\n      return parsed;\n    }\n  }\n\n  return parsed;\n}\n\nconst item = $json;\nconst rawText = extractRawText(item);\n\nif (!rawText) {\n  return {\n    json: {\n      request_id: item.request_id || null,\n      entity_type: item.entity_type || null,\n      entity_id: item.entity_id || null,\n      model_name: item.model_name || 'gemini-2.5-flash',\n      raw_result_json: null,\n      normalized_result: null,\n      normalization_error: 'empty_response',\n      provider_error: null,\n      should_fail_request: true\n    }\n  };\n}\n\nconst parsedAttempt = tryParseJson(rawText);\n\nif (!parsedAttempt.ok) {\n  return {\n    json: {\n      request_id: item.request_id || null,\n      entity_type: item.entity_type || null,\n      entity_id: item.entity_id || null,\n      model_name: item.model_name || 'gemini-2.5-flash',\n      raw_result_json: rawText,\n      normalized_result: null,\n      normalization_error: parsedAttempt.error || 'invalid_json',\n      provider_error: null,\n      should_fail_request: true\n    }\n  };\n}\n\nconst payload = extractPayload(parsedAttempt.parsed);\n\nconst rawStatus = payload.ai_status ?? payload.status ?? null;\nconst rawConfidence = payload.confidence_score ?? payload.confidence ?? null;\nconst rawReasonCodes = payload.reason_codes ?? [];\nconst rawExplanation = payload.explanation ?? payload.notes ?? null;\nconst rawSuggestedAction = payload.suggested_action ?? null;\n\nconst normalized = {\n  ai_status: normalizeStatus(rawStatus),\n  confidence_score: normalizeConfidence(rawConfidence),\n  reason_codes: normalizeReasonCodes(rawReasonCodes),\n  explanation: normalizeExplanation(rawExplanation),\n  suggested_action: normalizeSuggestedAction(rawSuggestedAction)\n};\n\nreturn {\n  json: {\n    request_id: item.request_id || null,\n    entity_type: item.entity_type || null,\n    entity_id: item.entity_id || null,\n    model_name: item.model_name || 'gemini-2.5-flash',\n    raw_result_json: JSON.stringify(payload),\n    normalized_result: normalized,\n    normalization_error: null,\n    provider_error: null,\n    should_fail_request: false,\n\n    ai_status: normalized.ai_status,\n    confidence_score: normalized.confidence_score,\n    reason_codes_json: JSON.stringify(normalized.reason_codes),\n    explanation: normalized.explanation,\n    suggested_action: normalized.suggested_action\n  }\n};"
      },
      "id": "43925b4e-f4cd-4c7b-bd34-58ca06146c30",
      "name": "Normalize And Validate AI Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1184,
        192
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "normalization-ok",
              "leftValue": "={{ $json.should_fail_request }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "3585bc99-056d-400f-9e6f-f5bfbe7c27c8",
      "name": "IF Normalization OK",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -960,
        192
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE ai_recheck_requests\nSET status = 'FAILED',\n    processed_at = NOW(),\n    updated_at = NOW(),\n    error_message = '{{ (($json.normalization_error || \"normalization_failed\") + \"\").replace(/'/g, \"''\") }}'\nWHERE id = '{{ ($json.request_id || \"\").replace(/'/g, \"''\") }}'\nRETURNING id AS request_id, status, error_message, processed_at;",
        "options": {}
      },
      "id": "b43286f2-bad0-4762-b72d-5d70cdaca160",
      "name": "Mark Request Failed - Normalization Error",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        160,
        368
      ],
      "credentials": {
        "postgres": {
          "id": "oU7owFOSEWav7sce",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO ai_quality_checks (\n  id,\n  entity_type,\n  entity_id,\n  model_name,\n  ai_status,\n  confidence_score,\n  reason_codes,\n  explanation,\n  suggested_action,\n  raw_result_json,\n  checked_at,\n  created_at\n)\nVALUES (\n  gen_random_uuid()::text,\n  '{{ ($json.entity_type || \"event\").replace(/'/g, \"''\") }}',\n  '{{ ($json.entity_id || \"\").replace(/'/g, \"''\") }}',\n  '{{ ($json.model_name || \"unknown\").replace(/'/g, \"''\") }}',\n  '{{ ($json.ai_status || \"UNSURE\").replace(/'/g, \"''\") }}',\n  {{ $json.confidence_score !== undefined && $json.confidence_score !== null ? $json.confidence_score : 'NULL' }},\n  {{ $json.reason_codes_json ? \"'\" + $json.reason_codes_json.replace(/'/g, \"''\") + \"'::jsonb\" : \"'[]'::jsonb\" }},\n  {{ $json.explanation ? \"'\" + $json.explanation.replace(/'/g, \"''\") + \"'\" : 'NULL' }},\n  {{ $json.suggested_action ? \"'\" + $json.suggested_action.replace(/'/g, \"''\") + \"'\" : 'NULL' }},\n  {{ $json.raw_result_json ? \"'\" + $json.raw_result_json.replace(/'/g, \"''\") + \"'::jsonb\" : 'NULL' }},\n  NOW(),\n  NOW()\n)\nRETURNING id AS ai_quality_check_id,\n  '{{ ($json.request_id || \"\").replace(/'/g, \"''\") }}'::text AS request_id,\n  '{{ ($json.entity_type || \"\").replace(/'/g, \"''\") }}'::text AS entity_type,\n  '{{ ($json.entity_id || \"\").replace(/'/g, \"''\") }}'::text AS entity_id,\n  '{{ ($json.ai_status || \"UNSURE\").replace(/'/g, \"''\") }}'::text AS ai_status,\n  {{ $json.confidence_score !== undefined && $json.confidence_score !== null ? $json.confidence_score : 'NULL' }}::numeric AS confidence_score;",
        "options": {}
      },
      "id": "8984a543-8f0f-4c0d-95c7-9b4e24deac50",
      "name": "Insert AI Quality Check",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -736,
        96
      ],
      "credentials": {
        "postgres": {
          "id": "oU7owFOSEWav7sce",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "is-event",
              "leftValue": "={{ $json.entity_type }}",
              "rightValue": "event",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c9eeb15a-4d4f-4857-b31d-c6f0c1c2dea3",
      "name": "IF Entity Type Is Event",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -512,
        96
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE events\nSET ai_review_status = '{{ ($json.ai_status || \"UNSURE\").replace(/'/g, \"''\") }}',\n    ai_confidence_score = {{ $json.confidence_score !== undefined && $json.confidence_score !== null ? $json.confidence_score : 'NULL' }},\n    ai_last_checked_at = NOW(),\n    updated_at = NOW()\nWHERE id = '{{ ($json.entity_id || \"\").replace(/'/g, \"''\") }}'\nRETURNING id AS entity_id,\n  '{{ ($json.request_id || \"\").replace(/'/g, \"''\") }}'::text AS request_id,\n  ai_review_status,\n  ai_confidence_score,\n  ai_last_checked_at;",
        "options": {}
      },
      "id": "4966e393-89ec-4268-9df7-a1db49d556df",
      "name": "Update Event AI Fields",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -288,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "oU7owFOSEWav7sce",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE places\nSET ai_review_status = '{{ ($json.ai_status || \"UNSURE\").replace(/'/g, \"''\") }}',\n    ai_confidence_score = {{ $json.confidence_score !== undefined && $json.confidence_score !== null ? $json.confidence_score : 'NULL' }},\n    ai_last_checked_at = NOW(),\n    updated_at = NOW()\nWHERE id = '{{ ($json.entity_id || \"\").replace(/'/g, \"''\") }}'\nRETURNING id AS entity_id,\n  '{{ ($json.request_id || \"\").replace(/'/g, \"''\") }}'::text AS request_id,\n  ai_review_status,\n  ai_confidence_score,\n  ai_last_checked_at;",
        "options": {}
      },
      "id": "602d200c-e3c0-43eb-895f-dd5fbda04617",
      "name": "Update Place AI Fields",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -288,
        192
      ],
      "credentials": {
        "postgres": {
          "id": "oU7owFOSEWav7sce",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {},
      "id": "dec33f78-b198-4ec2-9ab7-1971a58927b1",
      "name": "Merge Updated Entity",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -64,
        96
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE ai_recheck_requests\nSET status = 'DONE',\n    processed_at = NOW(),\n    updated_at = NOW(),\n    error_message = NULL\nWHERE id = '{{ ($json.request_id || \"\").replace(/'/g, \"''\") }}'\nRETURNING id AS request_id, status, processed_at;",
        "options": {}
      },
      "id": "a879b9a8-a011-4527-b145-e51ee77e6892",
      "name": "Mark Request Done",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        160,
        96
      ],
      "credentials": {
        "postgres": {
          "id": "oU7owFOSEWav7sce",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {},
      "id": "e3648d5b-fe99-489a-893b-555f94df42e3",
      "name": "Merge Final Statuses",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        384,
        560
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  id,\n  entity_type,\n  entity_id,\n  status,\n  error_message,\n  created_at,\n  updated_at,\n  processed_at\nFROM ai_recheck_requests\nORDER BY updated_at DESC\nLIMIT 20;",
        "options": {}
      },
      "id": "9dd26bf9-cffa-4d8d-8fd6-9aa4cb57bd64",
      "name": "Show Recent Recheck Results",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        608,
        560
      ],
      "credentials": {
        "postgres": {
          "id": "oU7owFOSEWav7sce",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "function decodeBufferObject(obj) {\n  if (!obj) return null;\n\n  if (obj.type === \"Buffer\" && Array.isArray(obj.data)) {\n    try {\n      return Buffer.from(obj.data).toString(\"utf8\");\n    } catch {\n      return null;\n    }\n  }\n\n  if (typeof obj === \"object\") {\n    for (const key of Object.keys(obj)) {\n      const result = decodeBufferObject(obj[key]);\n      if (result) return result;\n    }\n  }\n\n  return null;\n}\n\nconst existingRawText =\n  typeof $json.raw_text === \"string\" && $json.raw_text.trim()\n    ? $json.raw_text.trim()\n    : null;\n\nconst decoded = existingRawText || decodeBufferObject($json);\n\nreturn {\n  json: {\n    ...$json,\n    raw_text: decoded\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1408,
        192
      ],
      "id": "4a2db030-0614-4a3a-9e91-f9b7a46a3530",
      "name": "Decode Gemini Response"
    },
    {
      "parameters": {
        "jsCode": "function getStatusCode(json) {\n  const candidates = [\n    json.statusCode,\n    json.status,\n    json.response?.statusCode,\n    json.response?.status,\n    json.body?.status,\n    json.error?.statusCode,\n    json.error?.status,\n    json.provider_status_code,\n  ];\n\n  for (const value of candidates) {\n    const num = Number(value);\n    if (Number.isFinite(num)) return num;\n  }\n\n  return null;\n}\n\nfunction getErrorText(json) {\n  const candidates = [\n    json.error,\n    json.message,\n    json.statusMessage, \n    json.body?.error?.message,\n    json.body?.message,\n    json.response?.body?.error?.message,\n    json.response?.body?.message,\n    json.code,\n  ];\n\n  for (const value of candidates) {\n    if (typeof value === 'string' && value.trim()) return value.trim();\n\n    if (value && typeof value.message === 'string' && value.message.trim()) {\n      return value.message.trim();\n    }\n  }\n\n  return null;\n}\n\nfunction detectTimeout(json, errorText) {\n  const code = String(json.code || json.error?.code || '').toUpperCase();\n  const text = String(errorText || '').toLowerCase();\n\n  return (\n    code.includes('TIMEOUT') ||\n    code === 'ECONNABORTED' ||\n    text.includes('timeout') ||\n    text.includes('timed out') ||\n    text.includes('deadline exceeded') ||\n    text.includes('socket hang up')\n  );\n}\n\nfunction isProviderSuccess(json, statusCode, errorText) {\n  if (statusCode !== null) {\n    return statusCode >= 200 && statusCode < 300;\n  }\n\n  if (json.body?.candidates || json.candidates || json.raw_text) {\n    return true;\n  }\n\n  if (errorText) {\n    return false;\n  }\n\n  return false;\n}\n\nreturn items.map((item) => {\n  const json = item.json;\n  const retryAttempt = Number(json.retry_attempt ?? 0) || 0;\n  const statusCode = getStatusCode(json);\n  const errorText = getErrorText(json);\n  const timeoutDetected = detectTimeout(json, errorText);\n\n  let providerSuccess = isProviderSuccess(json, statusCode, errorText);\n  let providerErrorCode = null;\n  let shouldRetry = false;\n  let retryDelaySeconds = 0;\n\n  if (!providerSuccess) {\n    const is429 = statusCode === 429;\n    const is5xx = statusCode !== null && statusCode >= 500 && statusCode <= 599;\n    const isTimeout = timeoutDetected;\n\n    if (is429) {\n      providerErrorCode = 'provider_rate_limit';\n      shouldRetry = retryAttempt < 2;\n    } else if (isTimeout) {\n      providerErrorCode = 'provider_timeout';\n      shouldRetry = retryAttempt < 2;\n    } else if (is5xx) {\n      providerErrorCode = 'provider_http_error';\n      shouldRetry = retryAttempt < 2;\n    } else {\n      providerErrorCode = 'provider_http_error';\n      shouldRetry = false;\n    }\n\n    if (shouldRetry) {\n      retryDelaySeconds = retryAttempt === 0 ? 10 : 30;\n    }\n  }\n\n  return {\n    json: {\n      ...json,\n      provider_success: providerSuccess,\n      provider_status_code: statusCode,\n      provider_error_code: providerErrorCode,\n      provider_error_text: errorText,\n      should_retry: shouldRetry,\n      retry_delay_seconds: retryDelaySeconds,\n      retry_attempt: retryAttempt,\n      final_provider_failure: !providerSuccess && !shouldRetry,\n    },\n  };\n});\n"
      },
      "id": "aee06dec-9445-4538-8d96-bf8e345e0f0c",
      "name": "Classify Provider Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1856,
        384
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "retry-provider-failure",
              "leftValue": "={{ $json.should_retry }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "cce6ef62-6ded-45e6-919f-fe52a4b94d24",
      "name": "IF Retry Provider Failure",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1408,
        624
      ]
    },
    {
      "parameters": {
        "amount": "={{ $json.retry_delay_seconds }}"
      },
      "id": "b2f81c3f-f0c1-4bc6-9a35-85fa12d23dd0",
      "name": "Wait Before Provider Retry",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1184,
        512
      ],
      "webhookId": "2dc703b1-1cc0-4f3d-8583-c1ffe5320cc3"
    },
    {
      "parameters": {
        "jsCode": "return items.map((item) => {\n  const json = { ...item.json };\n\n  delete json.body;\n  delete json.headers;\n  delete json.statusCode;\n  delete json.statusMessage;\n  delete json.error;\n  delete json.code;\n  delete json.raw_text;\n  delete json.raw_result_json;\n  delete json.normalized_result;\n  delete json.normalization_error;\n\n  return {\n    json: {\n      ...json,\n      retry_attempt: (Number(json.retry_attempt ?? 0) || 0) + 1,\n      should_retry: false,\n      retry_delay_seconds: 0,\n      provider_error_code: null,\n      provider_error_text: null,\n      provider_success: false,\n      provider_status_code: null,\n      final_provider_failure: false,\n    },\n  };\n});"
      },
      "id": "7cdf7e0f-eaa3-4059-aabe-25350d0e2e96",
      "name": "Prepare Next Provider Retry",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -960,
        512
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -3648,
        992
      ],
      "id": "21b01307-b1ca-4703-96c5-f775e67ca550",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE ai_recheck_requests\nSET status = 'PROCESSING',\n    updated_at = NOW()\nWHERE id IN (\n  SELECT id\n  FROM ai_recheck_requests\n  WHERE status = 'PENDING'\n  ORDER BY created_at ASC\n  LIMIT 5\n  FOR UPDATE SKIP LOCKED\n)\nRETURNING *;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -3424,
        992
      ],
      "id": "d3d36e4c-bf6b-4023-955d-f5e6401bb65a",
      "name": "Get Pending Recheck Requests",
      "credentials": {
        "postgres": {
          "id": "oU7owFOSEWav7sce",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Load Pending AI Recheck Requests": {
      "main": [
        [
          {
            "node": "Mark Request Processing",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Request Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Request Processing": {
      "main": [
        [
          {
            "node": "Merge Request Context",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Request Context": {
      "main": [
        [
          {
            "node": "Prepare AI Input For Recheck",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare AI Input For Recheck": {
      "main": [
        [
          {
            "node": "IF Entity Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Entity Exists": {
      "main": [
        [
          {
            "node": "Call Gemini AI Recheck",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge AI Context And Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark Request Failed - Missing Entity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Gemini AI Recheck": {
      "main": [
        [
          {
            "node": "Merge AI Context And Response",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge AI Context And Response": {
      "main": [
        [
          {
            "node": "Classify Provider Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Provider Success": {
      "main": [
        [
          {
            "node": "Decode Gemini Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF Retry Provider Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize And Validate AI Result": {
      "main": [
        [
          {
            "node": "IF Normalization OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Normalization OK": {
      "main": [
        [
          {
            "node": "Insert AI Quality Check",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark Request Failed - Normalization Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert AI Quality Check": {
      "main": [
        [
          {
            "node": "IF Entity Type Is Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Entity Type Is Event": {
      "main": [
        [
          {
            "node": "Update Event AI Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Place AI Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Event AI Fields": {
      "main": [
        [
          {
            "node": "Merge Updated Entity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Place AI Fields": {
      "main": [
        [
          {
            "node": "Merge Updated Entity",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Updated Entity": {
      "main": [
        [
          {
            "node": "Mark Request Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Request Done": {
      "main": [
        [
          {
            "node": "Merge Final Statuses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Request Failed - Missing Entity": {
      "main": [
        [
          {
            "node": "Merge Final Statuses",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Final Statuses": {
      "main": [
        [
          {
            "node": "Show Recent Recheck Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decode Gemini Response": {
      "main": [
        [
          {
            "node": "Normalize And Validate AI Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify Provider Response": {
      "main": [
        [
          {
            "node": "IF Provider Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Retry Provider Failure": {
      "main": [
        [
          {
            "node": "Wait Before Provider Retry",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark Request Failed - Provider Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Before Provider Retry": {
      "main": [
        [
          {
            "node": "Prepare Next Provider Retry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Next Provider Retry": {
      "main": [
        [
          {
            "node": "Call Gemini AI Recheck",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Request Failed - Normalization Error": {
      "main": [
        [
          {
            "node": "Merge Final Statuses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Request Failed - Provider Error": {
      "main": [
        [
          {
            "node": "Merge Final Statuses",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Pending Recheck Requests",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Pending Recheck Requests": {
      "main": [
        [
          {
            "node": "Load Pending AI Recheck Requests",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "1d9d9453-e766-43b3-ad77-28f8cea92847",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cb95f67de3eb2bd513200bc3cead3abaa69e890ba0a912740169783b0cf2958b"
  },
  "id": "Q3MRO1c7hanRLoqA",
  "tags": []
}