workflows/n8n/MerhabaMap Collector v2.json
{
  "name": "MerhabaMap Collector v2",
  "nodes": [
    {
      "parameters": {},
      "id": "ecb3d143-589c-48f1-ab5c-dfa3f0500e38",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -2768,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO ingest_runs (id, pipeline_name, trigger_type, status, items_found, items_created, items_updated, items_failed, started_at, created_at, updated_at) VALUES (gen_random_uuid()::text, 'collector-v2', 'manual', 'RUNNING', 0, 0, 0, 0, NOW(), NOW(), NOW()) RETURNING id AS run_id, pipeline_name, trigger_type, status, started_at;",
        "options": {}
      },
      "id": "0877daac-0e58-4503-be21-3b397dbe8537",
      "name": "Create Collector Run",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -2544,
        0
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return { json: { run_id: $json.run_id } };"
      },
      "id": "e4a4387e-0abd-4570-a506-4c3ca222196a",
      "name": "Pass Collector Run Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2320,
        -160
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT '{{ $json.run_id }}'::text AS run_id, id AS source_id, name AS source_name, platform, source_kind, url, trust_score, discovery_method, notes FROM sources WHERE is_active = true AND url IS NOT NULL AND lower(COALESCE(platform, 'website')) IN ('website', 'web') ORDER BY trust_score DESC, updated_at DESC LIMIT 25;",
        "options": {}
      },
      "id": "7c22e84f-15f2-4a31-a3ed-19927b201120",
      "name": "Load Collector Sources",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -2320,
        0
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "\nfunction normalizeUrl(rawUrl) {\n  let value = String(rawUrl || '').trim();\n  if (!value) return null;\n  if (!/^https?:\\/\\//i.test(value)) value = `https://${value}`;\n  try {\n    const url = new URL(value);\n    url.hash = '';\n    const host = url.hostname.replace(/^www\\./i, '').toLowerCase();\n    const pathname = (url.pathname || '/').replace(/\\/+/g, '/');\n    const normalizedPath = pathname === '/' ? '/' : pathname.replace(/\\/$/, '');\n    const search = url.search || '';\n    return `${url.protocol}//${host}${normalizedPath}${search}`;\n  } catch {\n    return null;\n  }\n}\n\nfunction classifyTechnicalStatus(originalUrl, normalizedUrl) {\n  if (!originalUrl || !String(originalUrl).trim()) {\n    return { fetch_status: 'INVALID_SOURCE_URL', error_code: 'INVALID_SOURCE_URL', error_message: 'Missing source URL' };\n  }\n  if (!normalizedUrl) {\n    return { fetch_status: 'INVALID_SOURCE_URL', error_code: 'INVALID_SOURCE_URL', error_message: 'Source URL could not be normalized' };\n  }\n  return { fetch_status: 'PENDING', error_code: null, error_message: null };\n}\n\nconst originalUrl = $json.source_url_original ?? $json.url ?? null;\nconst normalizedUrl = normalizeUrl(originalUrl);\nconst tech = classifyTechnicalStatus(originalUrl, normalizedUrl);\n\nreturn {\n  json: {\n    run_id: $json.run_id,\n    source_id: $json.source_id ?? $json.id ?? null,\n    source_name: $json.source_name ?? $json.name ?? null,\n    source_url_original: originalUrl,\n    source_url_normalized: normalizedUrl,\n    platform: String($json.platform || 'website').toLowerCase() === 'web' ? 'website' : String($json.platform || 'website').toLowerCase(),\n    source_kind: $json.source_kind ?? $json.sourceKind ?? 'WEBSITE',\n    trust_score: Number($json.trust_score ?? 50),\n    discovery_method: $json.discovery_method ?? null,\n    source_notes: $json.notes ?? null,\n    fetch_status: tech.fetch_status,\n    profile_status: 'PENDING',\n    parse_status: 'PENDING',\n    validation_status: 'PENDING',\n    error_code: tech.error_code,\n    error_message: tech.error_message,\n  }\n};\n"
      },
      "id": "9cc9cc16-0a22-4f06-9908-5ef395d3ff4b",
      "name": "Normalize Collector Source",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2096,
        80
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "\nconst blockedFragments = [\n  '/impressum', '/datenschutz', '/privacy', '/kontakt', '/contact', '/login', '/signin', '/spende', '/donation'\n];\n\nconst normalizedUrl = typeof $json.source_url_normalized === 'string' ? $json.source_url_normalized : null;\nif (!normalizedUrl) {\n  return [];\n}\n\nconst lower = normalizedUrl.toLowerCase();\nif (blockedFragments.some((fragment) => lower.includes(fragment))) {\n  return [];\n}\n\nreturn { json: { ...$json, fetch_url: normalizedUrl } };\n"
      },
      "id": "55bc2979-1eb3-4d4e-ba64-28820c92d5ab",
      "name": "Filter Fetchable Collector Sources",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1872,
        80
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.fetch_url }}",
        "sendHeaders": true,
        "specifyHeaders": "usingFieldsBelow",
        "options": {
          "redirect": {
            "redirect": {
              "maxRedirects": 4
            }
          },
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true,
              "responseFormat": "text"
            }
          },
          "timeout": 8000
        }
      },
      "id": "3136ec4b-01bf-45c3-a9ea-0ac51c1e1aab",
      "name": "Fetch Source Page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1648,
        80
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "c12d438e-6f6a-41fa-bbd8-e0a37b3d9a07",
      "name": "Merge Source And Response",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1424,
        0
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "\nfunction classifyFetch(item) {\n  const statusCode = Number(item.statusCode ?? item.status_code ?? 0);\n  const body = typeof item.body === 'string'\n    ? item.body\n    : typeof item.data === 'string'\n      ? item.data\n      : item.data && typeof item.data.body === 'string'\n        ? item.data.body\n        : null;\n  const rawError = item.error ? String(item.error.message || item.error || '') : '';\n  const finalUrl = typeof item.url === 'string'\n    ? item.url\n    : typeof item.final_url === 'string'\n      ? item.final_url\n      : item.source_url_normalized;\n\n  if (item.fetch_status === 'INVALID_SOURCE_URL') {\n    return { fetch_status: 'INVALID_SOURCE_URL', error_code: 'INVALID_SOURCE_URL', error_message: item.error_message || 'Invalid source URL', body, statusCode, finalUrl };\n  }\n  if (/ENOTFOUND/i.test(rawError)) {\n    return { fetch_status: 'DNS_ERROR', error_code: 'DNS_ERROR', error_message: rawError, body, statusCode, finalUrl };\n  }\n  if (/EPROTO|SSL|TLS/i.test(rawError)) {\n    return { fetch_status: 'TLS_ERROR', error_code: 'TLS_ERROR', error_message: rawError, body, statusCode, finalUrl };\n  }\n  if (/timeout/i.test(rawError)) {\n    return { fetch_status: 'FETCH_TIMEOUT', error_code: 'FETCH_TIMEOUT', error_message: rawError, body, statusCode, finalUrl };\n  }\n  if (rawError) {\n    return { fetch_status: 'UNKNOWN_ERROR', error_code: 'UNKNOWN_ERROR', error_message: rawError, body, statusCode, finalUrl };\n  }\n  if (statusCode >= 400) {\n    return { fetch_status: 'HTTP_ERROR', error_code: 'HTTP_ERROR', error_message: `HTTP ${statusCode}`, body, statusCode, finalUrl };\n  }\n  if (typeof body !== 'string' || body.trim().length < 80) {\n    return { fetch_status: 'EMPTY_RESPONSE', error_code: 'EMPTY_RESPONSE', error_message: 'Response body missing or too short', body, statusCode, finalUrl };\n  }\n  if (/captcha|access denied|forbidden|enable cookies|anmelden|einloggen|login/i.test(body)) {\n    return { fetch_status: 'BLOCKED', error_code: 'BLOCKED', error_message: 'Blocked or login wall', body, statusCode, finalUrl };\n  }\n  return { fetch_status: 'SUCCESS', error_code: null, error_message: null, body, statusCode, finalUrl };\n}\n\nconst result = classifyFetch($json);\nreturn {\n  json: {\n    ...$json,\n    fetch_status: result.fetch_status,\n    profile_status: result.fetch_status === 'SUCCESS' ? 'READY' : 'FETCH_ERROR',\n    error_code: result.error_code,\n    error_message: result.error_message,\n    status_code: result.statusCode || null,\n    final_url: result.finalUrl || $json.source_url_normalized || null,\n    html: result.body,\n  }\n};\n"
      },
      "id": "057d115d-39bb-4aac-aa1b-3de0e01f3c43",
      "name": "Normalize Source Fetch Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1200,
        0
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "\nconst POSITIVE = ['veranstaltung','veranstaltungen','event','events','termin','termine','kalender','programm','seminar','workshop','konferenz'];\nconst NEGATIVE = ['impressum','datenschutz','privacy','kontakt','contact','spende','donation','login'];\nconst anchorRegex = new RegExp('<a\\\\b[^>]*?href\\\\s*=\\\\s*(?:\"([^\"]*)\"|\\'([^\\']*)\\'|([^\\\\s>]+))[^>]*>([\\\\s\\\\S]*?)<\\\\/a>', 'gi');\n\nfunction normalizeUrl(href, baseUrl) {\n  try {\n    const value = String(href || '').trim();\n    if (!value || /^(#|mailto:|tel:|javascript:)/i.test(value)) return null;\n    const url = new URL(value, baseUrl);\n    url.hash = '';\n    return url.toString();\n  } catch {\n    return null;\n  }\n}\n\nfunction decodeHtml(text) {\n  return String(text || '')\n    .replace(/<[^>]+>/g, ' ')\n    .replace(/&nbsp;/gi, ' ')\n    .replace(/&amp;/gi, '&')\n    .replace(/&quot;/gi, '\"')\n    .replace(/&#39;/gi, \"'\")\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\nif ($json.fetch_status !== 'SUCCESS') {\n  return {\n    json: {\n      run_id: $json.run_id,\n      source_id: $json.source_id,\n      source_name: $json.source_name,\n      source_url_original: $json.source_url_original,\n      source_url_normalized: $json.source_url_normalized,\n      final_url: $json.final_url || $json.source_url_normalized,\n      fetch_status: $json.fetch_status,\n      profile_status: 'FETCH_ERROR',\n      status: 'fetch_error',\n      event_links: [],\n      non_event_candidates: [],\n      debug_links: [],\n      errors: [{ code: $json.error_code || $json.fetch_status, message: $json.error_message || 'Fetch failed' }],\n    }\n  };\n}\n\nconst html = typeof $json.html === 'string' ? $json.html : '';\nconst baseUrl = $json.final_url || $json.source_url_normalized || $json.source_url_original;\nconst seen = new Set();\nconst event_links = [];\nconst non_event_candidates = [];\nconst debug_links = [];\nlet match;\n\nwhile ((match = anchorRegex.exec(html)) !== null) {\n  const rawHref = String(match[1] || match[2] || match[3] || '').trim();\n  const normalized = normalizeUrl(rawHref, baseUrl);\n  if (!normalized || seen.has(normalized)) continue;\n  seen.add(normalized);\n  const label = decodeHtml(match[4] || rawHref);\n  const combined = `${normalized} ${label}`.toLowerCase();\n  const positive_keywords = POSITIVE.filter((token) => combined.includes(token));\n  const negative_keywords = NEGATIVE.filter((token) => combined.includes(token));\n  const score = positive_keywords.length * 3 - negative_keywords.length * 5 + (/\\b\\d{1,2}[./-]\\d{1,2}/.test(label) ? 1 : 0);\n  const accepted = positive_keywords.length > 0 && negative_keywords.length === 0;\n  const reasons = [];\n  if (positive_keywords.length) reasons.push(`positive:${positive_keywords.join(',')}`);\n  if (negative_keywords.length) reasons.push(`negative:${negative_keywords.join(',')}`);\n  if (/\\b\\d{1,2}[./-]\\d{1,2}/.test(label)) reasons.push('date_text');\n  const debug = { url: normalized, label, accepted, score, positive_keywords, negative_keywords, reasons };\n  debug_links.push(debug);\n  const candidate = {\n    url: normalized,\n    label,\n    score,\n    source: 'anchor',\n    positive_keywords,\n    negative_keywords,\n    reasons,\n  };\n  if (accepted) event_links.push(candidate);\n  else if (positive_keywords.length || negative_keywords.length) non_event_candidates.push(candidate);\n}\n\nreturn {\n  json: {\n    run_id: $json.run_id,\n    source_id: $json.source_id,\n    source_name: $json.source_name,\n    source_url_original: $json.source_url_original,\n    source_url_normalized: $json.source_url_normalized,\n    final_url: $json.final_url || $json.source_url_normalized,\n    fetch_status: $json.fetch_status,\n    profile_status: event_links.length > 0 ? 'PROFILED' : 'NO_CANDIDATES',\n    status: 'ok',\n    event_links,\n    non_event_candidates,\n    debug_links,\n    errors: [],\n  }\n};\n"
      },
      "id": "a72b1290-63c3-452e-a04e-b0690f59c5b9",
      "name": "Extract Event Candidate Links",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -976,
        0
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "\nconst output = [];\nfor (const item of $input.all()) {\n  const source = item.json || {};\n  const eventLinks = Array.isArray(source.event_links) ? source.event_links : [];\n  for (const candidate of eventLinks) {\n    const originalUrl = typeof candidate?.url === 'string' ? candidate.url : null;\n    if (!originalUrl) continue;\n    let normalizedUrl = null;\n    try {\n      const url = new URL(originalUrl, source.final_url || source.source_url_normalized || source.source_url_original || undefined);\n      url.hash = '';\n      normalizedUrl = url.toString();\n    } catch {}\n    if (!normalizedUrl) continue;\n    output.push({\n      json: {\n        run_id: source.run_id,\n        source_id: source.source_id,\n        source_name: source.source_name,\n        source_url_original: source.source_url_original,\n        source_url_normalized: source.source_url_normalized,\n        candidate_url_original: originalUrl,\n        candidate_url_normalized: normalizedUrl,\n        candidate_label: candidate.label || null,\n        candidate_score: Number(candidate.score || 0),\n        candidate_reasons: Array.isArray(candidate.reasons) ? candidate.reasons : [],\n        fetch_status: 'PENDING',\n        profile_status: source.profile_status || 'PROFILED',\n        parse_status: 'PENDING',\n        validation_status: 'PENDING',\n      }\n    });\n  }\n}\nreturn output;\n"
      },
      "id": "8d393d33-d080-4c3e-97f8-0599f234a23a",
      "name": "Expand Event Candidates",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -752,
        0
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "\nconst url = typeof $json.candidate_url_normalized === 'string' ? $json.candidate_url_normalized : null;\nif (!url) {\n  return [];\n}\nreturn { json: { ...$json, fetch_url: url } };\n"
      },
      "id": "ca18d6f5-7146-4841-9d70-b1afd08db073",
      "name": "Filter Fetchable Candidate URLs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -528,
        0
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.fetch_url }}",
        "sendHeaders": true,
        "specifyHeaders": "usingFieldsBelow",
        "options": {
          "redirect": {
            "redirect": {
              "maxRedirects": 4
            }
          },
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true,
              "responseFormat": "text"
            }
          },
          "timeout": 8000
        }
      },
      "id": "e0f3f27b-7821-4578-873b-dd27b836b296",
      "name": "Fetch Candidate Page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -304,
        0
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "295759f1-c084-4dec-afba-eef9720ef19f",
      "name": "Merge Candidate And Response",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -80,
        0
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "\nfunction classifyFetch(item) {\n  const statusCode = Number(item.statusCode ?? item.status_code ?? 0);\n  const body = typeof item.body === 'string'\n    ? item.body\n    : typeof item.data === 'string'\n      ? item.data\n      : item.data && typeof item.data.body === 'string'\n        ? item.data.body\n        : null;\n  const rawError = item.error ? String(item.error.message || item.error || '') : '';\n  const finalUrl = typeof item.url === 'string'\n    ? item.url\n    : typeof item.final_url === 'string'\n      ? item.final_url\n      : item.source_url_normalized;\n\n  if (item.fetch_status === 'INVALID_SOURCE_URL') {\n    return { fetch_status: 'INVALID_SOURCE_URL', error_code: 'INVALID_SOURCE_URL', error_message: item.error_message || 'Invalid source URL', body, statusCode, finalUrl };\n  }\n  if (/ENOTFOUND/i.test(rawError)) {\n    return { fetch_status: 'DNS_ERROR', error_code: 'DNS_ERROR', error_message: rawError, body, statusCode, finalUrl };\n  }\n  if (/EPROTO|SSL|TLS/i.test(rawError)) {\n    return { fetch_status: 'TLS_ERROR', error_code: 'TLS_ERROR', error_message: rawError, body, statusCode, finalUrl };\n  }\n  if (/timeout/i.test(rawError)) {\n    return { fetch_status: 'FETCH_TIMEOUT', error_code: 'FETCH_TIMEOUT', error_message: rawError, body, statusCode, finalUrl };\n  }\n  if (rawError) {\n    return { fetch_status: 'UNKNOWN_ERROR', error_code: 'UNKNOWN_ERROR', error_message: rawError, body, statusCode, finalUrl };\n  }\n  if (statusCode >= 400) {\n    return { fetch_status: 'HTTP_ERROR', error_code: 'HTTP_ERROR', error_message: `HTTP ${statusCode}`, body, statusCode, finalUrl };\n  }\n  if (typeof body !== 'string' || body.trim().length < 80) {\n    return { fetch_status: 'EMPTY_RESPONSE', error_code: 'EMPTY_RESPONSE', error_message: 'Response body missing or too short', body, statusCode, finalUrl };\n  }\n  if (/captcha|access denied|forbidden|enable cookies|anmelden|einloggen|login/i.test(body)) {\n    return { fetch_status: 'BLOCKED', error_code: 'BLOCKED', error_message: 'Blocked or login wall', body, statusCode, finalUrl };\n  }\n  return { fetch_status: 'SUCCESS', error_code: null, error_message: null, body, statusCode, finalUrl };\n}\n\nconst result = classifyFetch($json);\nreturn {\n  json: {\n    ...$json,\n    fetch_status: result.fetch_status,\n    profile_status: result.fetch_status === 'SUCCESS' ? 'READY' : 'FETCH_ERROR',\n    error_code: result.error_code,\n    error_message: result.error_message,\n    status_code: result.statusCode || null,\n    final_url: result.finalUrl || $json.source_url_normalized || null,\n    html: result.body,\n  }\n};\n"
      },
      "id": "6078dd46-0b4d-4bfd-8409-cead264fcca1",
      "name": "Normalize Candidate Fetch Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        144,
        0
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "\nfunction stripHtml(html) {\n  return String(html || '')\n    .replace(/<script[\\s\\S]*?<\\/script>/gi, ' ')\n    .replace(/<style[\\s\\S]*?<\\/style>/gi, ' ')\n    .replace(/<noscript[\\s\\S]*?<\\/noscript>/gi, ' ')\n    .replace(/<!--.*?-->/gs, ' ')\n    .replace(/<[^>]+>/g, ' ')\n    .replace(/&nbsp;/gi, ' ')\n    .replace(/&amp;/gi, '&')\n    .replace(/&quot;/gi, '\"')\n    .replace(/&#39;/gi, \"'\")\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\nfunction getTitle(html) {\n  const titleMatch = String(html || '').match(/<title[^>]*>([\\s\\S]*?)<\\/title>/i);\n  if (titleMatch) return titleMatch[1].replace(/\\s+/g, ' ').trim();\n  const h1Match = String(html || '').match(/<h1[^>]*>([\\s\\S]*?)<\\/h1>/i);\n  return h1Match ? h1Match[1].replace(/<[^>]+>/g, ' ').replace(/\\s+/g, ' ').trim() : null;\n}\n\nfunction getMeta(html, key) {\n  const pattern = new RegExp(`<meta[^>]+(?:name|property)=[\"']${key}[\"'][^>]+content=[\"']([^\"']+)[\"']`, 'i');\n  const match = String(html || '').match(pattern);\n  return match ? String(match[1]).trim() : null;\n}\n\nfunction extractDate(text) {\n  const value = String(text || '');\n  const iso = value.match(/\\b\\d{4}-\\d{2}-\\d{2}(?:[ T]\\d{2}:\\d{2})?/);\n  if (iso) return iso[0];\n  const euroWithTime = value.match(/\\b\\d{1,2}[.]\\d{1,2}[.]\\d{2,4}(?:\\s+\\d{1,2}[:.]\\d{2}(?:\\s*Uhr)?)?/i);\n  if (euroWithTime) return euroWithTime[0];\n  const euro = value.match(/\\b\\d{1,2}[./-]\\d{1,2}(?:[./-]\\d{2,4})?(?:\\s+\\d{1,2}[:.]\\d{2}(?:\\s*Uhr)?)?/i);\n  return euro ? euro[0] : null;\n}\n\nfunction extractLocation(text) {\n  const value = String(text || '');\n  const patterns = [\n    /(?:Ort|Location|Venue|Adresse)\\s*:?\\s*([^\\n|]{4,120})/i,\n    /((?:[A-ZÄÖÜ][\\wÄÖÜäöüß.-]+\\s){0,5}(?:Straße|Strasse|Str\\.|Platz|Allee|Weg|Gasse|Ufer|Ring)\\s+\\d{1,4}[^\\n|]{0,80})/i\n  ];\n  for (const pattern of patterns) {\n    const match = value.match(pattern);\n    if (match?.[1]) return match[1].replace(/\\s+/g, ' ').trim();\n  }\n  return null;\n}\n\nfunction detectLanguage(text) {\n  const lower = String(text || '').toLowerCase();\n  if (/[çğıöşü]/.test(lower) || /\\betkinlik\\b|\\bkonseri\\b|\\bvakfi\\b|\\bcami\\b/.test(lower)) return 'tr';\n  return 'de';\n}\n\nfunction guessCity(text) {\n  const lower = String(text || '').toLowerCase();\n  if (/\\bberlin\\b/.test(lower)) return 'berlin';\n  if (/\\bköln\\b|\\bkoeln\\b|\\bkoln\\b|\\bcologne\\b/.test(lower)) return 'koeln';\n  return null;\n}\n\nconst fetchStatus = $json.fetch_status;\nconst html = typeof $json.html === 'string' ? $json.html : '';\nif (fetchStatus !== 'SUCCESS') {\n  return {\n    json: {\n      ...$json,\n      parse_status: 'FETCH_ERROR',\n      entity_guess: 'UNKNOWN',\n      raw_title: null,\n      raw_text: null,\n      raw_datetime_text: null,\n      raw_location_text: null,\n      raw_image_url: null,\n      language_hint: null,\n      city_guess: null,\n      error_code: $json.error_code || fetchStatus,\n      error_message: $json.error_message || 'Candidate fetch failed',\n    }\n  };\n}\n\nconst title = getTitle(html) || $json.candidate_label || null;\nconst text = stripHtml(html).slice(0, 4000);\nconst combined = `${title || ''} ${text}`;\nconst rawDatetimeText = extractDate(combined);\nconst rawLocationText = extractLocation(text);\nconst rawImageUrl = getMeta(html, 'og:image');\nconst cityGuess = guessCity(`${combined} ${$json.candidate_url_normalized || ''}`);\nconst hasEventKeyword = /event|veranstaltung|konzert|festival|iftar|etkinlik|seminar|workshop|konferenz/i.test(combined);\nconst entityGuess = hasEventKeyword ? 'EVENT' : 'UNKNOWN';\nconst parseStatus = title && text.length >= 120 ? 'PARSED' : 'PARSE_FAILURE';\n\nreturn {\n  json: {\n    ...$json,\n    final_url: $json.final_url || $json.candidate_url_normalized || $json.source_url_normalized,\n    parse_status: parseStatus,\n    entity_guess: entityGuess,\n    raw_title: title,\n    raw_text: text,\n    raw_datetime_text: rawDatetimeText,\n    raw_location_text: rawLocationText,\n    raw_image_url: rawImageUrl,\n    language_hint: detectLanguage(combined),\n    city_guess: cityGuess,\n    error_code: parseStatus === 'PARSE_FAILURE' ? 'PARSE_FAILURE' : null,\n    error_message: parseStatus === 'PARSE_FAILURE' ? 'Could not parse sufficient event fields' : null,\n  }\n};\n"
      },
      "id": "7a8f912c-5747-41cc-83b8-21d3131157c7",
      "name": "Parse Raw Event",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        368,
        0
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "\nfunction hashString(value) {\n  let hash = 2166136261;\n  for (let i = 0; i < value.length; i++) {\n    hash ^= value.charCodeAt(i);\n    hash = Math.imul(hash, 16777619);\n  }\n  return ('00000000' + (hash >>> 0).toString(16)).slice(-8);\n}\n\nconst candidateUrl = String($json.candidate_url_normalized || '');\nconst rawTitle = String($json.raw_title || '');\nconst rawDatetimeText = String($json.raw_datetime_text || '');\nconst contentHashInput = `${candidateUrl}||${rawTitle}||${rawDatetimeText}`;\nconst contentHash = `collector-v2:${hashString(contentHashInput)}`;\n\nlet validationStatus = 'VALIDATED';\nlet rawStatus = 'PENDING';\nlet errorCode = $json.error_code || null;\nlet errorMessage = $json.error_message || null;\n\nif ($json.fetch_status !== 'SUCCESS') {\n  validationStatus = 'INVALID';\n  rawStatus = 'ERROR';\n  errorCode = errorCode || $json.fetch_status || 'HTTP_ERROR';\n  errorMessage = errorMessage || 'Technical fetch failure';\n} else if ($json.parse_status !== 'PARSED') {\n  validationStatus = 'INVALID';\n  rawStatus = 'ERROR';\n  errorCode = errorCode || 'PARSE_FAILURE';\n  errorMessage = errorMessage || 'Parse failed';\n} else if ($json.entity_guess !== 'EVENT') {\n  validationStatus = 'INVALID';\n  rawStatus = 'ERROR';\n  errorCode = 'INSUFFICIENT_EVENT_SIGNALS';\n  errorMessage = 'Insufficient event signals';\n} else if (!$json.raw_datetime_text) {\n  validationStatus = 'REVIEW_REQUIRED';\n  rawStatus = 'REVIEW';\n  errorCode = 'INSUFFICIENT_EVENT_SIGNALS';\n  errorMessage = 'Missing raw date/time text';\n} else if (!$json.city_guess) {\n  validationStatus = 'REVIEW_REQUIRED';\n  rawStatus = 'REVIEW';\n  errorCode = 'CITY_UNRESOLVED';\n  errorMessage = 'City unresolved';\n}\n\nconst payload = {\n  workflow: 'collector-v2',\n  source: {\n    id: $json.source_id || null,\n    name: $json.source_name || null,\n    source_url_original: $json.source_url_original || null,\n    source_url_normalized: $json.source_url_normalized || null,\n  },\n  candidate: {\n    candidate_url_original: $json.candidate_url_original || null,\n    candidate_url_normalized: $json.candidate_url_normalized || null,\n    final_url: $json.final_url || null,\n    candidate_label: $json.candidate_label || null,\n    candidate_score: $json.candidate_score || 0,\n    candidate_reasons: $json.candidate_reasons || [],\n  },\n  parsing: {\n    fetch_status: $json.fetch_status,\n    parse_status: $json.parse_status,\n    validation_status: validationStatus,\n    content_hash: contentHash,\n  },\n  extracted: {\n    raw_title: $json.raw_title || null,\n    raw_datetime_text: $json.raw_datetime_text || null,\n    raw_location_text: $json.raw_location_text || null,\n    raw_image_url: $json.raw_image_url || null,\n    language_hint: $json.language_hint || null,\n    city_guess: $json.city_guess || null,\n  },\n  debug: {\n    text_length: String($json.raw_text || '').length,\n  }\n};\n\nreturn {\n  json: {\n    ...$json,\n    validation_status: validationStatus,\n    status: rawStatus,\n    error_code: errorCode,\n    error_message: errorMessage,\n    content_hash: contentHash,\n    platform: 'website',\n    country_code: 'DE',\n    raw_payload_json: JSON.stringify(payload),\n  }\n};\n"
      },
      "id": "60768c6a-1e23-4eed-a51e-fd3e97ec6e50",
      "name": "Validate Raw Event",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        592,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT '{{ $json.run_id }}'::text AS run_id, '{{ ($json.content_hash || '').replace(/'/g, \"''\") }}'::text AS content_hash, EXISTS (SELECT 1 FROM raw_ingest_items WHERE external_id = '{{ ($json.content_hash || '').replace(/'/g, \"''\") }}') AS content_exists;",
        "options": {}
      },
      "id": "84087b86-6f1d-451c-af25-bb84947af50b",
      "name": "Check Duplicate Content",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        816,
        80
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "8a5b8715-393c-4157-a4bb-d562fe27d027",
      "name": "Merge Validation And Duplicate",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1040,
        0
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "\nconst duplicate = Boolean($json.content_exists);\nif (!duplicate) {\n  return { json: { ...$json } };\n}\nreturn {\n  json: {\n    ...$json,\n    validation_status: 'INVALID',\n    status: 'ERROR',\n    error_code: 'DUPLICATE_CONTENT',\n    error_message: 'Duplicate content hash already exists',\n  }\n};\n"
      },
      "id": "ad2cb27d-1c4e-4bd5-937a-0cfdbf392f51",
      "name": "Apply Duplicate Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1264,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO raw_ingest_items (id, source_id, entity_guess, platform, source_url, external_id, raw_title, raw_text, raw_datetime_text, raw_location_text, raw_image_url, raw_payload_json, language_hint, city_guess, country_code, status, error_message, processed_at, ingested_at, created_at, updated_at) VALUES (gen_random_uuid()::text, {{ $json.source_id ? \"'\" + $json.source_id.replace(/'/g, \"''\") + \"'\" : 'NULL' }}, '{{ ($json.entity_guess || 'UNKNOWN').replace(/'/g, ) }}', 'website', {{ $json.candidate_url_normalized ? \"'\" + $json.candidate_url_normalized.replace(/'/g, \"''\") + \"'\" : 'NULL' }}, '{{ ($json.content_hash || '').replace(/'/g, ) }}', {{ $json.raw_title ? \"'\" + $json.raw_title.replace(/'/g, \"''\") + \"'\" : 'NULL' }}, {{ $json.raw_text ? \"'\" + $json.raw_text.replace(/'/g, \"''\") + \"'\" : 'NULL' }}, {{ $json.raw_datetime_text ? \"'\" + $json.raw_datetime_text.replace(/'/g, \"''\") + \"'\" : 'NULL' }}, {{ $json.raw_location_text ? \"'\" + $json.raw_location_text.replace(/'/g, \"''\") + \"'\" : 'NULL' }}, {{ $json.raw_image_url ? \"'\" + $json.raw_image_url.replace(/'/g, \"''\") + \"'\" : 'NULL' }}, '{{ ($json.raw_payload_json || '{}').replace(/'/g, ) }}', {{ $json.language_hint ? \"'\" + $json.language_hint.replace(/'/g, \"''\") + \"'\" : 'NULL' }}, {{ $json.city_guess ? \"'\" + $json.city_guess.replace(/'/g, \"''\") + \"'\" : 'NULL' }}, 'DE', '{{ ($json.status || 'ERROR').replace(/'/g, ) }}', {{ $json.error_message ? \"'\" + $json.error_message.replace(/'/g, \"''\") + \"'\" : 'NULL' }}, NOW(), NOW(), NOW(), NOW()) RETURNING id, source_id, source_url, external_id, status, error_message, ingested_at;",
        "options": {}
      },
      "id": "1af81877-876a-40d6-8926-9093af5f06bb",
      "name": "Persist Raw Item",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1488,
        0
      ]
    },
    {
      "parameters": {
        "mode": "append"
      },
      "id": "ed2aeba6-56c1-457e-9c74-c543b7e5c2d3",
      "name": "Merge Collector Finalize Trigger",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1712,
        -80
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE ingest_runs SET status = 'FINISHED', items_found = {{ $items('Expand Event Candidates').length }}, items_created = {{ $items('Persist Raw Item').filter(item => ['PENDING','REVIEW'].includes(item.json.status)).length }}, items_updated = 0, items_failed = {{ $items('Persist Raw Item').filter(item => item.json.status === 'ERROR').length }}, finished_at = NOW(), updated_at = NOW(), log_text = '{{ JSON.stringify({ sources_total: $items('Load Collector Sources').length, sources_fetched_ok: $items('Normalize Source Fetch Result').filter(item => item.json.fetch_status === \"SUCCESS\").length, sources_failed: $items('Normalize Source Fetch Result').filter(item => item.json.fetch_status !== \"SUCCESS\").length, candidates_total: $items('Expand Event Candidates').length, candidates_fetched_ok: $items('Normalize Candidate Fetch Result').filter(item => item.json.fetch_status === \"SUCCESS\").length, candidates_failed: $items('Normalize Candidate Fetch Result').filter(item => item.json.fetch_status !== \"SUCCESS\").length, raw_items_written: $items('Persist Raw Item').length, raw_items_error: $items('Persist Raw Item').filter(item => item.json.status === \"ERROR\").length, raw_items_pending_review: $items('Persist Raw Item').filter(item => item.json.status === \"PENDING\").length }).replace(/'/g, \"''\") }}' WHERE id = '{{ $json.run_id }}' RETURNING id, status, items_found, items_created, items_failed, finished_at;",
        "options": {}
      },
      "id": "acf21376-5cb5-4b5c-9d7f-cb05ae037d00",
      "name": "Finalize Collector Run",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1936,
        -80
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Create Collector Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Collector Run": {
      "main": [
        [
          {
            "node": "Pass Collector Run Context",
            "type": "main",
            "index": 0
          },
          {
            "node": "Load Collector Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Collector Sources": {
      "main": [
        [
          {
            "node": "Normalize Collector Source",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Source And Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Collector Source": {
      "main": [
        [
          {
            "node": "Filter Fetchable Collector Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Fetchable Collector Sources": {
      "main": [
        [
          {
            "node": "Fetch Source Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Source Page": {
      "main": [
        [
          {
            "node": "Merge Source And Response",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Source And Response": {
      "main": [
        [
          {
            "node": "Normalize Source Fetch Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Source Fetch Result": {
      "main": [
        [
          {
            "node": "Extract Event Candidate Links",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Event Candidate Links": {
      "main": [
        [
          {
            "node": "Expand Event Candidates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Expand Event Candidates": {
      "main": [
        [
          {
            "node": "Filter Fetchable Candidate URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Fetchable Candidate URLs": {
      "main": [
        [
          {
            "node": "Fetch Candidate Page",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Candidate And Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Candidate Page": {
      "main": [
        [
          {
            "node": "Merge Candidate And Response",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Candidate And Response": {
      "main": [
        [
          {
            "node": "Normalize Candidate Fetch Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Candidate Fetch Result": {
      "main": [
        [
          {
            "node": "Parse Raw Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Raw Event": {
      "main": [
        [
          {
            "node": "Validate Raw Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Raw Event": {
      "main": [
        [
          {
            "node": "Check Duplicate Content",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Validation And Duplicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Duplicate Content": {
      "main": [
        [
          {
            "node": "Merge Validation And Duplicate",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Validation And Duplicate": {
      "main": [
        [
          {
            "node": "Apply Duplicate Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apply Duplicate Status": {
      "main": [
        [
          {
            "node": "Persist Raw Item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pass Collector Run Context": {
      "main": [
        [
          {
            "node": "Merge Collector Finalize Trigger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Persist Raw Item": {
      "main": [
        [
          {
            "node": "Merge Collector Finalize Trigger",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Collector Finalize Trigger": {
      "main": [
        [
          {
            "node": "Finalize Collector Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "5003c561-ada5-44c7-914c-99b715d41613",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "id": "679f7b4ac7e447c3",
  "tags": []
}
