workflows/n8n/MerhabaMap Source Discovery Engine v1 Fixed.json
{
  "name": "MerhabaMap Source Discovery Engine v1 Fixed",
  "nodes": [
    {
      "parameters": {},
      "id": "fdc65e85-873e-4e44-a27b-8183dfb93764",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -2208,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, name, platform, source_kind, url, trust_score\nFROM sources\nWHERE is_active = true\n  AND url IS NOT NULL\n  AND lower(COALESCE(platform, 'website')) IN ('website', 'web')\nORDER BY trust_score DESC, updated_at DESC\nLIMIT 25;",
        "options": {}
      },
      "id": "f04a2344-6c10-419d-9a6a-ee50eac3d9c7",
      "name": "Load Seed Sources",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -1984,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "oU7owFOSEWav7sce",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "function normalizePlatform(p) {\n  const v = String(p || '').toLowerCase().trim();\n  if (v === 'web') return 'website';\n  return v || 'website';\n}\n\nfunction normalizeUrl(rawUrl) {\n  let u = String(rawUrl || '').trim();\n  if (!u) return null;\n\n  if (!/^https?:\\/\\//i.test(u)) {\n    u = 'https://' + u;\n  }\n\n  try {\n    const parsed = new globalThis.URL(u);\n    const host = parsed.hostname.replace(/^www\\./i, '');\n    return `${parsed.protocol}//${host}`;\n  } catch {\n    return u;\n  }\n}\n\nconst originalUrl = $json.url || null;\nconst normalizedUrl = normalizeUrl(originalUrl);\n\nreturn {\n  json: {\n    ...$json,\n    platform: normalizePlatform($json.platform),\n    original_url: originalUrl,\n    fetch_url: normalizedUrl,\n    url: normalizedUrl\n  }\n};"
      },
      "id": "ea8f5dd2-e14a-4770-acbd-bb20509d01d4",
      "name": "Normalize Seed Source",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1760,
        80
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.fetch_url }}",
        "sendHeaders": true,
        "specifyHeaders": "usingFieldsBelow",
        "options": {
          "redirect": {
            "redirect": {
              "maxRedirects": 4
            }
          },
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true,
              "responseFormat": "text"
            }
          },
          "timeout": 8000
        }
      },
      "id": "8d176823-b3d8-41cf-956a-b674ba97f94d",
      "name": "Fetch Seed Page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1536,
        80
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "08cc7c6c-61bd-4c96-ad48-f2abc08f19e8",
      "name": "Merge Seed And Response",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1312,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "function stripWww(host) {\n  return String(host || '').replace(/^www\\./i, '').toLowerCase();\n}\n\nfunction parseAbsoluteUrl(url) {\n  const m = String(url || '').match(/^(https?):\\/\\/([^\\/?#]+)(\\/[^?#]*)?/i);\n  if (!m) return null;\n\n  return {\n    protocol: m[1].toLowerCase(),\n    host: stripWww(m[2]),\n    path: m[3] || ''\n  };\n}\n\nfunction normalizeUrl(url) {\n  const parsed = parseAbsoluteUrl(url);\n  if (!parsed) return null;\n\n  const cleanPath = (parsed.path || '').replace(/\\/$/, '');\n  return `${parsed.protocol}://${parsed.host}${cleanPath}`;\n}\n\nfunction absolutize(baseUrl, href) {\n  const base = parseAbsoluteUrl(baseUrl);\n  if (!base) return null;\n\n  const raw = String(href || '').trim();\n  if (!raw) return null;\n\n  if (/^https?:\\/\\//i.test(raw)) {\n    return normalizeUrl(raw);\n  }\n\n  if (/^\\/\\//.test(raw)) {\n    return normalizeUrl(`${base.protocol}:${raw}`);\n  }\n\n  if (/^\\//.test(raw)) {\n    return normalizeUrl(`${base.protocol}://${base.host}${raw}`);\n  }\n\n  if (/^[a-zA-Z][a-zA-Z0-9+.-]*:/.test(raw)) {\n    return null;\n  }\n\n  const basePath = base.path || '';\n  const dir = basePath.includes('/') ? basePath.replace(/\\/[^\\/]*$/, '/') : '/';\n  return normalizeUrl(`${base.protocol}://${base.host}${dir}${raw}`);\n}\n\nfunction extractLinksFromHtml(html, baseUrl) {\n  const out = [];\n  const re = /<a\\b[^>]*?\\bhref\\s*=\\s*(?:\"([^\"]*)\"|'([^']*)'|([^\\s>]+))[^>]*>([\\s\\S]*?)<\\/a>/gi;\n  let m;\n\n  while ((m = re.exec(String(html || ''))) !== null) {\n    const rawHref = (m[1] || m[2] || m[3] || '').trim();\n    const anchorHtml = m[4] || '';\n\n    const anchorText = anchorHtml\n      .replace(/<[^>]+>/g, ' ')\n      .replace(/\\s+/g, ' ')\n      .trim();\n\n    const absolute = absolutize(baseUrl, rawHref);\n    if (absolute) {\n      out.push({\n        href: absolute,\n        anchor_text: anchorText\n      });\n    }\n  }\n\n  return out;\n}\n\nfunction extractLinksFromHeader(linkHeader, baseUrl) {\n  const out = [];\n  const text = String(linkHeader || '');\n  if (!text) return out;\n\n  const re = /<([^>]+)>/g;\n  let m;\n\n  while ((m = re.exec(text)) !== null) {\n    const href = absolutize(baseUrl, m[1]);\n    if (href) {\n      out.push({\n        href,\n        anchor_text: 'header-link'\n      });\n    }\n  }\n\n  return out;\n}\n\nconst items = $input.all();\nconst output = [];\n\nfor (const item of items) {\n  const data = item.json;\n\n  const html =\n    typeof data.data === 'string'\n      ? data.data\n      : typeof data.body === 'string'\n        ? data.body\n        : data.data && typeof data.data.body === 'string'\n          ? data.data.body\n          : '';\n\n  const baseUrl = data.fetch_url || data.url || null;\n  const baseParsed = parseAbsoluteUrl(baseUrl);\n  const seedHost = baseParsed ? baseParsed.host : null;\n\n  if (!baseUrl || !seedHost || !html || html.length < 50) {\n    continue;\n  }\n\n  const htmlLinks = extractLinksFromHtml(html, baseUrl);\n  const headerLinks = extractLinksFromHeader(\n    (data.headers && (data.headers.link || data.headers.Link)) || '',\n    baseUrl\n  );\n\n  const dedup = new Map();\n\n  for (const link of [...htmlLinks, ...headerLinks]) {\n    const parsed = parseAbsoluteUrl(link.href);\n    if (!parsed) continue;\n\n    const normalized = normalizeUrl(link.href);\n    if (!normalized) continue;\n\n    if (!dedup.has(normalized)) {\n      dedup.set(normalized, {\n        href: normalized,\n        host: parsed.host,\n        anchor_text: link.anchor_text || null,\n        same_domain: parsed.host === seedHost\n      });\n    }\n  }\n\n  for (const link of dedup.values()) {\n    output.push({\n      json: {\n        seed_source_id: data.id,\n        seed_source_name: data.name,\n        seed_source_url: baseUrl,\n        seed_trust_score: data.trust_score || 50,\n        candidate_url: link.href,\n        candidate_host: link.host,\n        anchor_text: link.anchor_text,\n        same_domain: link.same_domain\n      }\n    });\n  }\n}\n\nreturn output;"
      },
      "id": "3ca30a80-e744-4cdc-9f9a-b8079b1e4509",
      "name": "Extract Candidate Links",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1088,
        0
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "function normalizeText(v) {\n  return String(v || '').toLowerCase().trim();\n}\n\nfunction isAllowed(url, anchorText, sameDomain) {\n  const u = normalizeText(url);\n  const a = normalizeText(anchorText);\n  const combined = `${u} ${a}`;\n\n  const blocked = [\n    'mailto:',\n    'tel:',\n    'javascript:',\n    '/login',\n    '/signin',\n    '/signup',\n    '/register',\n    '/checkout',\n    '/cart',\n    '/warenkorb',\n    '/privacy',\n    '/datenschutz',\n    '/impressum',\n    '/agb',\n    'facebook.com/sharer',\n    'wa.me',\n    'whatsapp',\n    'linkedin.com/share'\n  ];\n\n  if (blocked.some(x => combined.includes(x))) return false;\n\n  const interesting = /(veranstaltung|veranstaltungen|events?|termine|kalender|calendar|programm|kultur|festival|konzert|gemeinde|verein|jugend|frauen|cami|moschee|mosque|community|etkinlik|bilet|ticket)/i;\n  if (!interesting.test(combined)) return false;\n\n  if (!sameDomain) {\n    const externalAllowed = /(verein|gemeinde|verband|jugend|frauen|kultur|moschee|cami|community)/i;\n    if (!externalAllowed.test(combined)) return false;\n  }\n\n  return true;\n}\n\nconst url = $json.candidate_url || null;\nconst anchorText = $json.anchor_text || '';\nconst sameDomain = !!$json.same_domain;\n\nif (!url) {\n  return {\n    json: {\n      ...$json,\n      filtered_out: true,\n      filter_reason: 'NO_URL'\n    }\n  };\n}\n\nif (!isAllowed(url, anchorText, sameDomain)) {\n  return {\n    json: {\n      ...$json,\n      filtered_out: true,\n      filter_reason: 'NOT_ALLOWED'\n    }\n  };\n}\n\nreturn {\n  json: {\n    ...$json,\n    filtered_out: false,\n    filter_reason: null\n  }\n};"
      },
      "id": "1de7153a-ea6b-406c-8b3a-7ddc4287a1c7",
      "name": "Filter Candidate Links",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -864,
        0
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "function scoreCandidate(url, anchorText, sameDomain, seedTrust) {\n  const combined = `${url || ''} ${anchorText || ''}`.toLowerCase();\n  let score = 0;\n\n  if (sameDomain) score += 20;\n  if (/veranstaltung|veranstaltungen|events?|termine|kalender|calendar/.test(combined)) score += 25;\n  if (/programm|kultur|festival|konzert/.test(combined)) score += 20;\n  if (/gemeinde|verein|verband|jugend|frauen|community|cami|moschee/.test(combined)) score += 20;\n  if (/ticket|bilet/.test(combined)) score -= 10;\n  if (/impressum|datenschutz|agb|privacy/.test(combined)) score -= 50;\n\n  score += Math.floor((Number(seedTrust || 50) - 50) / 5);\n  return Math.max(0, Math.min(100, score));\n}\n\nfunction inferName(url, anchorText) {\n  const a = String(anchorText || '').trim();\n  if (a.length >= 4 && a.length <= 120) return a;\n\n  try {\n    const parsed = new globalThis.URL(url);\n    return parsed.hostname.replace(/^www\\./i, '');\n  } catch {\n    return 'Discovered Source';\n  }\n}\n\nif ($json.filtered_out) {\n  return {\n    json: {\n      ...$json,\n      candidate_name: null,\n      candidate_platform: null,\n      candidate_source_kind: null,\n      candidate_trust_score: 0,\n      discovery_method: null,\n      dropped: true\n    }\n  };\n}\n\nconst score = scoreCandidate(\n  $json.candidate_url,\n  $json.anchor_text,\n  $json.same_domain,\n  $json.seed_trust_score\n);\n\nconst dropped = score < 40;\n\nreturn {\n  json: {\n    ...$json,\n    candidate_name: dropped ? null : inferName($json.candidate_url, $json.anchor_text),\n    candidate_platform: dropped ? null : 'website',\n    candidate_source_kind: dropped ? null : 'WEBSITE',\n    candidate_trust_score: score,\n    discovery_method: dropped ? null : 'source-discovery-v1',\n    dropped\n  }\n};"
      },
      "id": "ae7b3741-1df5-47e6-8572-614347a4f250",
      "name": "Score Candidates",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -640,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "keep-scored-item",
              "leftValue": "={{ $json.dropped }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "9e9024c9-db8f-49ee-9682-19f2116ad5c0",
      "name": "IF Keep Candidate",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -416,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO sources (\n  id,\n  name,\n  platform,\n  source_kind,\n  url,\n  is_active,\n  is_public,\n  trust_score,\n  account_handle,\n  external_id,\n  discovery_method,\n  notes,\n  created_at,\n  updated_at\n)\nSELECT\n  gen_random_uuid()::text,\n  '{{ $json.candidate_name.replace(/'/g, \"''\") }}',\n  '{{ $json.candidate_platform }}',\n  '{{ $json.candidate_source_kind }}',\n  '{{ $json.candidate_url.replace(/'/g, \"''\") }}',\n  true,\n  true,\n  {{ Number($json.candidate_trust_score || 50) }},\n  NULL,\n  NULL,\n  '{{ $json.discovery_method }}',\n  {{ $json.seed_source_name ? \"'Discovered from: \" + $json.seed_source_name.replace(/'/g, \"''\") + \"'\" : 'NULL' }},\n  NOW(),\n  NOW()\nWHERE NOT EXISTS (\n  SELECT 1\n  FROM sources\n  WHERE lower(url) = lower('{{ $json.candidate_url.replace(/'/g, \"''\") }}')\n)\nRETURNING id, name, platform, source_kind, url, trust_score;",
        "options": {}
      },
      "id": "aac99733-eea9-4f59-99c4-cec830812ca5",
      "name": "Insert New Sources",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -192,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "oU7owFOSEWav7sce",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, name, platform, source_kind, url, trust_score, discovery_method, created_at\nFROM sources\nORDER BY created_at DESC\nLIMIT 20;",
        "options": {}
      },
      "id": "00aed6a4-61e9-4a8a-8a9f-d3f95cd62a91",
      "name": "Show New Sources",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        32,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "oU7owFOSEWav7sce",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Load Seed Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Seed Sources": {
      "main": [
        [
          {
            "node": "Normalize Seed Source",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Seed And Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Seed Source": {
      "main": [
        [
          {
            "node": "Fetch Seed Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Seed Page": {
      "main": [
        [
          {
            "node": "Merge Seed And Response",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Seed And Response": {
      "main": [
        [
          {
            "node": "Extract Candidate Links",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Candidate Links": {
      "main": [
        [
          {
            "node": "Filter Candidate Links",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Candidate Links": {
      "main": [
        [
          {
            "node": "Score Candidates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Score Candidates": {
      "main": [
        [
          {
            "node": "IF Keep Candidate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Keep Candidate": {
      "main": [
        [
          {
            "node": "Insert New Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert New Sources": {
      "main": [
        [
          {
            "node": "Show New Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "45d47b28-6a38-457d-832a-7a84985e4b2f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cb95f67de3eb2bd513200bc3cead3abaa69e890ba0a912740169783b0cf2958b"
  },
  "id": "a4kQy2IzSqHtqYSq",
  "tags": []
}