workflows/n8n/MerhabaMap Collector Stable Final.json
{
  "name": "MerhabaMap Collector Stable Final",
  "nodes": [
    {
      "parameters": {},
      "id": "cd9a6118-d4cd-4c6c-b815-ab31963c94e8",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -16,
        -128
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, platform, source_kind, name, url, account_handle, external_id, is_public, is_active, trust_score, discovery_method, notes, last_checked_at\nFROM sources\nWHERE is_active = true\n  AND url IS NOT NULL\n  AND lower(COALESCE(platform, 'website')) IN ('website', 'web')\nORDER BY trust_score DESC, updated_at DESC\nLIMIT 5;",
        "options": {}
      },
      "id": "ef4858e7-12ec-40a2-81b1-67720ef4fc84",
      "name": "Load Active Website Sources",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        208,
        -128
      ],
      "credentials": {
        "postgres": {
          "id": "oU7owFOSEWav7sce",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "function normalizePlatform(p) {\n  const v = String(p || '').toLowerCase().trim();\n  if (v === 'web') return 'website';\n  return v || 'website';\n}\n\nconst BLOCKED_DOMAINS = [\n  'eventim.',\n  'ticketmaster.',\n  'getgo.',\n  'reservix.',\n  'adticket.',\n  'tickets.',\n  'koelnticket.',\n  'eventfrog.',\n  'rausgegangen.'\n];\n\nconst DETAIL_PATH_HINTS = [\n  '/event/',\n  '/veranstaltung/',\n  '/etkinlik/',\n  '/programm/',\n  '/program/'\n];\n\nconst LISTING_PATH_HINTS = [\n  '/calendar',\n  '/kalender',\n  '/events',\n  '/veranstaltungen',\n  '/termine',\n  '/program',\n  '/programm',\n  '/tag/',\n  '/category/',\n  '/kategorie/'\n];\n\nfunction normalizeUrl(rawUrl) {\n  let u = String(rawUrl || '').trim();\n  if (!u) return null;\n\n  if (!/^https?:\\/\\//i.test(u)) {\n    u = 'https://' + u;\n  }\n\n  try {\n    const parsed = new URL(u);\n    parsed.hash = '';\n    const host = parsed.hostname.replace(/^www\\./i, '');\n    const path = parsed.pathname || '/';\n    return `${parsed.protocol}//${host}${path}`;\n  } catch {\n    return u;\n  }\n}\n\nfunction getUrlMeta(rawUrl) {\n  try {\n    const parsed = new URL(rawUrl);\n    const host = parsed.hostname.replace(/^www\\./i, '').toLowerCase();\n    const path = (parsed.pathname || '/').toLowerCase();\n    const segments = path.split('/').filter(Boolean);\n    const blockedDomain = BLOCKED_DOMAINS.some(domain => host.includes(domain));\n    const isHome = path === '/' || path === '';\n    const detailish = DETAIL_PATH_HINTS.some(hint => path.includes(hint)) || segments.some(segment => segment.length >= 24 && segment.includes('-'));\n    const listingish = LISTING_PATH_HINTS.some(hint => path === hint || path.startsWith(`${hint}/`) || path.includes(`${hint}?`) || path.includes(hint));\n\n    return {\n      host,\n      path,\n      blockedDomain,\n      isHome,\n      detailish,\n      listingish,\n    };\n  } catch {\n    return {\n      host: null,\n      path: null,\n      blockedDomain: false,\n      isHome: false,\n      detailish: false,\n      listingish: false,\n    };\n  }\n}\n\nconst originalUrl = $json.url || null;\nconst normalizedUrl = normalizeUrl(originalUrl);\nconst urlMeta = normalizedUrl ? getUrlMeta(normalizedUrl) : getUrlMeta('');\n\nreturn {\n  json: {\n    ...$json,\n    platform: normalizePlatform($json.platform),\n    original_url: originalUrl,\n    fetch_url: normalizedUrl,\n    url: normalizedUrl,\n    source_host: urlMeta.host,\n    source_path: urlMeta.path,\n    blocked_domain: urlMeta.blockedDomain,\n    path_is_home: urlMeta.isHome,\n    path_is_detailish: urlMeta.detailish,\n    path_is_listingish: urlMeta.listingish,\n  }\n};"
      },
      "id": "016d9e54-fd39-4038-9c00-5b52e60dbb6a",
      "name": "Normalize Source",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        -64
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.fetch_url }}",
        "sendHeaders": true,
        "specifyHeaders": "usingFieldsBelow",
        "options": {
          "redirect": {
            "redirect": {
              "maxRedirects": 4
            }
          },
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true,
              "responseFormat": "text"
            }
          },
          "timeout": 8000
        }
      },
      "id": "e2fdfe10-43da-4925-8ee6-dca39ef5f734",
      "name": "Fetch Source Page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        656,
        -64
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "0090d1df-4d6f-46ca-b59b-591d8758918b",
      "name": "Merge Source And Response",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        880,
        -128
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "function stripHtml(html) {\n  return String(html || '')\n    .replace(/<script[\\s\\S]*?<\\/script>/gi, ' ')\n    .replace(/<style[\\s\\S]*?<\\/style>/gi, ' ')\n    .replace(/<noscript[\\s\\S]*?<\\/noscript>/gi, ' ')\n    .replace(/<!--.*?-->/gs, ' ')\n    .replace(/<[^>]+>/g, ' ')\n    .replace(/&nbsp;/gi, ' ')\n    .replace(/&amp;/gi, '&')\n    .replace(/&quot;/gi, '\"')\n    .replace(/&#39;/gi, \"'\")\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\nfunction getTitle(html) {\n  const m = String(html || '').match(/<title[^>]*>([\\s\\S]*?)<\\/title>/i);\n  return m ? m[1].replace(/\\s+/g, ' ').trim() : null;\n}\n\nfunction getMetaContent(html, pattern) {\n  const m = String(html || '').match(pattern);\n  return m ? String(m[1] || '').trim() : null;\n}\n\nfunction hasJsonLdEvent(html) {\n  return /\"@type\"\\s*:\\s*\"Event\"|\"@type\"\\s*:\\s*\\[\\s*\"Event\"/i.test(String(html || ''));\n}\n\nfunction hasOgEvent(html) {\n  return /<meta[^>]+property=[\"']og:type[\"'][^>]+content=[\"']event[\"']/i.test(String(html || ''));\n}\n\nfunction detectLanguage(text) {\n  const t = (text || '').toLowerCase();\n  if (/[çğıöşü]/.test(t) || / turkce | türkçe | etkinlik | konser | bilet | dernek | vakif | cami /.test(` ${t} `)) {\n    return 'tr';\n  }\n  return 'de';\n}\n\nfunction guessEntity(text) {\n  const t = (text || '').toLowerCase();\n  if (/event|veranstaltung|konzert|festival|party|tickets|bilet|etkinlik|gece|iftar|meeting|meetup/.test(t)) {\n    return 'EVENT';\n  }\n  return 'UNKNOWN';\n}\n\nfunction looksGenericTitle(title) {\n  const t = String(title || '').toLowerCase().trim();\n  if (!t) return true;\n  return (\n    /^home\b/.test(t) ||\n    /^events?\b$/.test(t) ||\n    /^veranstaltungen\b$/.test(t) ||\n    /^termine\b$/.test(t) ||\n    /^calendar\b/.test(t) ||\n    /^programm\b$/.test(t) ||\n    /^program\b$/.test(t) ||\n    /^tickets?\b/.test(t) ||\n    /^discover\b/.test(t)\n  );\n}\n\nfunction hasDateSignal(text) {\n  const t = String(text || '');\n  return (\n    /\b\\d{1,2}[./-]\\d{1,2}([./-]\\d{4})?\b/.test(t) ||\n    /\b\\d{4}-\\d{2}-\\d{2}\b/.test(t) ||\n    /\b(januar|februar|märz|maerz|april|mai|juni|juli|august|september|oktober|november|dezember|january|february|march|april|may|june|july|august|september|october|november|december)\b/i.test(t)\n  );\n}\n\nfunction hasVenueSignal(text) {\n  return /halle|saal|zentrum|center|kultur|moschee|cami|hotel|arena|theater|cafe|restaurant|gemeinde|haus|salon|stage|club|venue|ort\b|location\b/i.test(String(text || ''));\n}\n\nfunction hasCommunitySignal(text) {\n  return /turk|türk|anatol|iftar|ramadan|ramazan|dernek|vakif|vakf|cami|moschee|konzert|etkinlik|buluşma|bulusma|community|kultur/i.test(String(text || '').toLowerCase());\n}\n\nconst item = $json;\nconst statusCode = Number(item.statusCode || 0);\n\nlet html = '';\nif (typeof item.body === 'string') {\n  html = item.body;\n} else if (typeof item.data === 'string') {\n  html = item.data;\n} else if (item.data && typeof item.data.body === 'string') {\n  html = item.data.body;\n}\n\nlet errorMessage = null;\n\nconst rawError = item.error ? String(item.error.message || item.error || '') : '';\nconst combinedError = `${rawError} ${html}`;\n\nif (item.blocked_domain) {\n  errorMessage = 'BLOCKED_DOMAIN';\n} else if (/ENOTFOUND/i.test(rawError)) {\n  errorMessage = 'DNS_NOT_FOUND';\n} else if (/EPROTO|SSL/i.test(rawError)) {\n  errorMessage = 'SSL_HANDSHAKE_FAILED';\n} else if (/timeout/i.test(rawError)) {\n  errorMessage = 'TIMEOUT';\n} else if (statusCode >= 400) {\n  errorMessage = `HTTP_${statusCode}`;\n} else if (!html || html.length < 50) {\n  errorMessage = 'EMPTY_OR_TOO_SHORT_RESPONSE';\n} else if (/captcha|access denied|forbidden|please enable cookies|temporarily unavailable|login|anmelden|einloggen/i.test(combinedError)) {\n  errorMessage = 'BLOCKED_OR_LOGIN_WALL';\n}\n\nconst rawTitle = getTitle(html) || item.name || item.fetch_url || item.url || 'Unknown Source';\nconst rawText = stripHtml(html).slice(0, 12000);\nconst normalizedSourceUrl = typeof item.fetch_url === 'string' ? item.fetch_url : (typeof item.url === 'string' ? item.url : null);\n\nif (!errorMessage && !normalizedSourceUrl) {\n  errorMessage = 'MISSING_SOURCE_URL';\n}\n\nconst jsonLdEvent = hasJsonLdEvent(html);\nconst ogEvent = hasOgEvent(html);\nconst dateSignal = hasDateSignal(`${rawTitle} ${rawText}`);\nconst venueSignal = hasVenueSignal(rawText);\nconst communitySignal = hasCommunitySignal(`${rawTitle} ${rawText}`);\nconst citySignal = /\bberlin\b|\bkoeln\b|\bkoln\b|\bcologne\b/i.test(`${rawTitle} ${rawText} ${normalizedSourceUrl || ''}`);\nconst usefulSignalCount = [jsonLdEvent, ogEvent, dateSignal, venueSignal, communitySignal, citySignal].filter(Boolean).length;\nconst tooLittleText = rawText.length < 350;\nconst genericTitle = looksGenericTitle(rawTitle);\nconst weakListingPage = Boolean(item.path_is_listingish) && !item.path_is_detailish && usefulSignalCount < 2;\nconst weakHomePage = Boolean(item.path_is_home) && usefulSignalCount < 2;\nconst weakContent = tooLittleText && usefulSignalCount < 2;\n\nif (!errorMessage && genericTitle && usefulSignalCount < 2) {\n  errorMessage = 'GENERIC_TITLE';\n} else if (!errorMessage && weakListingPage) {\n  errorMessage = 'LISTING_PAGE';\n} else if (!errorMessage && weakHomePage) {\n  errorMessage = 'HOME_PAGE';\n} else if (!errorMessage && weakContent) {\n  errorMessage = 'WEAK_CONTENT';\n}\n\nconst status = errorMessage ? 'ERROR' : 'PENDING';\n\nconst payload = {\n  source: {\n    id: item.id,\n    platform: item.platform,\n    source_kind: item.source_kind,\n    name: item.name,\n    url: item.url,\n    original_url: item.original_url || null,\n    fetch_url: item.fetch_url || item.url || null,\n    account_handle: item.account_handle,\n    external_id: item.external_id,\n    trust_score: item.trust_score,\n    host: item.source_host || null,\n    path: item.source_path || null,\n  },\n  fetch_meta: {\n    statusCode: statusCode || null,\n    headers: item.headers || null,\n    error: rawError || null\n  },\n  fetched_at: new Date().toISOString(),\n  title: rawTitle,\n  text_excerpt_length: rawText.length,\n  quality_signals: {\n    jsonLdEvent,\n    ogEvent,\n    dateSignal,\n    venueSignal,\n    communitySignal,\n    citySignal,\n    usefulSignalCount,\n    pathIsDetailish: Boolean(item.path_is_detailish),\n    pathIsListingish: Boolean(item.path_is_listingish),\n    pathIsHome: Boolean(item.path_is_home),\n  }\n};\n\nreturn {\n  json: {\n    source_id: item.id || null,\n    platform: item.platform || 'website',\n    source_url: normalizedSourceUrl,\n    external_id: item.external_id || null,\n    raw_title: rawTitle,\n    raw_text: rawText || null,\n    raw_datetime_text: null,\n    raw_location_text: null,\n    raw_image_url: null,\n    raw_payload_json: JSON.stringify(payload),\n    language_hint: detectLanguage(`${rawTitle} ${rawText}`),\n    city_guess: null,\n    country_code: 'DE',\n    entity_guess: guessEntity(`${rawTitle} ${rawText}`),\n    status,\n    error_message: errorMessage\n  }\n};"
      },
      "id": "db273f10-26ed-428b-b342-48d289540d8f",
      "name": "Parse Source Page",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1776,
        -128
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO raw_ingest_items (\n  id,\n  source_id,\n  entity_guess,\n  platform,\n  source_url,\n  external_id,\n  raw_title,\n  raw_text,\n  raw_datetime_text,\n  raw_location_text,\n  raw_image_url,\n  raw_payload_json,\n  language_hint,\n  city_guess,\n  country_code,\n  status,\n  error_message,\n  processed_at,\n  ingested_at,\n  created_at,\n  updated_at\n)\nVALUES (\n  gen_random_uuid()::text,\n  {{ $json.source_id ? \"'\" + $json.source_id.replace(/'/g, \"''\") + \"'\" : 'NULL' }},\n  '{{ ($json.entity_guess || 'UNKNOWN').replace(/'/g, \"''\") }}',\n  '{{ ($json.platform || 'website').replace(/'/g, \"''\") }}',\n  {{ $json.source_url ? \"'\" + $json.source_url.replace(/'/g, \"''\") + \"'\" : 'NULL' }},\n  {{ $json.external_id ? \"'\" + $json.external_id.replace(/'/g, \"''\") + \"'\" : 'NULL' }},\n  {{ $json.raw_title ? \"'\" + $json.raw_title.replace(/'/g, \"''\") + \"'\" : 'NULL' }},\n  {{ $json.raw_text ? \"'\" + $json.raw_text.replace(/'/g, \"''\") + \"'\" : 'NULL' }},\n  NULL,\n  NULL,\n  NULL,\n  '{{ $json.raw_payload_json.replace(/'/g, \"''\") }}',\n  {{ $json.language_hint ? \"'\" + $json.language_hint.replace(/'/g, \"''\") + \"'\" : 'NULL' }},\n  NULL,\n  'DE',\n  '{{ ($json.status || 'PENDING').replace(/'/g, \"''\") }}',\n  {{ $json.error_message ? \"'\" + $json.error_message.replace(/'/g, \"''\") + \"'\" : 'NULL' }},\n  NULL,\n  NOW(),\n  NOW(),\n  NOW()\n)\nRETURNING id, source_id, source_url, raw_title, status, error_message, ingested_at;",
        "options": {}
      },
      "id": "657e5253-6d23-4f91-9ff4-fdeaa74cd7ee",
      "name": "Insert Raw Item",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2000,
        -128
      ],
      "credentials": {
        "postgres": {
          "id": "oU7owFOSEWav7sce",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE sources\nSET platform = CASE WHEN platform = 'web' THEN 'website' ELSE platform END,\n    last_checked_at = NOW(),\n    updated_at = NOW()\nWHERE id = {{ $json.source_id ? \"'\" + $json.source_id.replace(/'/g, \"''\") + \"'\" : 'NULL' }};",
        "options": {}
      },
      "id": "d7e2c2a0-39de-4f2c-8796-cd8497956187",
      "name": "Update Source Checked At",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2224,
        -128
      ],
      "credentials": {
        "postgres": {
          "id": "oU7owFOSEWav7sce",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, source_id, platform, source_url, raw_title, status, error_message, ingested_at\nFROM raw_ingest_items\nORDER BY ingested_at DESC\nLIMIT 20;",
        "options": {}
      },
      "id": "a2b7f5e9-b75b-4093-b3c4-98aa3574ede4",
      "name": "Show Latest Raw Items",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2448,
        -128
      ],
      "credentials": {
        "postgres": {
          "id": "oU7owFOSEWav7sce",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const items = $input.all();\n\nconst POSITIVE_KEYWORDS = [\n  'veranstaltung',\n  'veranstaltungen',\n  'event',\n  'events',\n  'termin',\n  'termine',\n  'kalender',\n  'programm',\n  'seminar',\n  'workshop',\n  'konferenz'\n];\n\nconst HARD_NEGATIVE_KEYWORDS = [\n  'impressum',\n  'datenschutz',\n  'privacy',\n  'kontakt',\n  'contact',\n  'spende',\n  'donation',\n  'login'\n];\n\nconst FALLBACK_PATHS = [\n  '/veranstaltungen',\n  '/veranstaltungen/',\n  '/events',\n  '/events/',\n  '/termine',\n  '/termine/',\n  '/kalender',\n  '/kalender/',\n  '/programm',\n  '/programm/'\n];\n\nconst anchorRegex = new RegExp('<a\\\\\\\\b([^>]*)href=[\"\\\\\\']([^\"\\\\\\']+)[\"\\\\\\']([^>]*)>([\\\\\\\\s\\\\\\\\S]*?)<\\\\\\\\/a>', 'gi');\nconst ariaLabelRegex = new RegExp(\"aria-label=[\\\"\\\\\\\\']([^\\\"\\\\\\\\']+)[\\\"\\\\\\\\']\", 'i');\nconst tagRegex = new RegExp('<[^>]+>', 'g');\nconst whitespaceRegex = new RegExp('\\\\s+', 'g');\nconst dateTextRegex = new RegExp('\\\\b\\\\d{1,2}[./-]\\\\d{1,2}(?:[./-]\\\\d{2,4})?\\\\b');\nconst eventTextRegex = new RegExp('\\\\b(event|veranstaltung|veranstaltungen|termin|termine|seminar|workshop|konferenz)\\\\b');\n\nfunction normalizeUrl(href, baseUrl) {\n  try {\n    const value = String(href || '').trim();\n    if (!value) return null;\n    if (/^(#|mailto:|tel:|javascript:)/i.test(value)) return null;\n    const url = new URL(value, baseUrl);\n    url.hash = '';\n    return url.toString();\n  } catch {\n    return null;\n  }\n}\n\nfunction getSourceId(source) {\n  return source?.source_id ?? source?.id ?? source?.sourceId ?? null;\n}\n\nfunction getSourceName(source) {\n  return source?.source_name ?? source?.name ?? null;\n}\n\nfunction getSourceUrl(source) {\n  return source?.source_url ?? source?.url ?? source?.fetch_url ?? null;\n}\n\nfunction getStatusCode(source) {\n  return Number(source?.statusCode ?? source?.status_code ?? source?.httpStatus ?? 0);\n}\n\nfunction getHtml(source) {\n  if (typeof source?.data === 'string') return source.data;\n  if (typeof source?.body === 'string') return source.body;\n  if (source?.data && typeof source.data.body === 'string') return source.data.body;\n  return null;\n}\n\nfunction extractError(source) {\n  if (!source?.error) return null;\n\n  if (typeof source.error === 'string') {\n    return {\n      code: String(source.errorCode ?? source.code ?? 'fetch_error'),\n      message: source.error,\n    };\n  }\n\n  if (typeof source.error === 'object') {\n    return {\n      code: String(source.error.code ?? source.errorCode ?? source.code ?? 'fetch_error'),\n      message: String(source.error.message ?? source.errorMessage ?? 'Fetch failed'),\n    };\n  }\n\n  return {\n    code: String(source.errorCode ?? source.code ?? 'fetch_error'),\n    message: 'Fetch failed',\n  };\n}\n\nfunction decodeEntities(text) {\n  return String(text || '')\n    .replace(/&nbsp;/gi, ' ')\n    .replace(/&amp;/gi, '&')\n    .replace(/&quot;/gi, '\"')\n    .replace(/&#39;/gi, \"'\")\n    .replace(/&#8211;|&#x2013;/gi, '–');\n}\n\nfunction extractAnchorLabel(beforeHref, afterHref, innerHtml, href) {\n  const openingTag = `${beforeHref || ''} ${afterHref || ''}`;\n  const ariaMatch = String(openingTag).match(ariaLabelRegex);\n  if (ariaMatch?.[1]) return decodeEntities(ariaMatch[1]).trim();\n\n  const text = decodeEntities(innerHtml)\n    .replace(tagRegex, ' ')\n    .replace(whitespaceRegex, ' ')\n    .trim();\n\n  return text || href;\n}\n\nfunction scoreCandidate(url, label) {\n  const haystack = `${String(url || '').toLowerCase()} ${String(label || '').toLowerCase()}`;\n  const positiveKeywords = POSITIVE_KEYWORDS.filter((keyword) => haystack.includes(keyword));\n  const negativeKeywords = HARD_NEGATIVE_KEYWORDS.filter((keyword) => haystack.includes(keyword));\n  const reasons = [];\n  let score = 0;\n\n  if (positiveKeywords.length > 0) {\n    score += positiveKeywords.length * 3;\n    reasons.push(`positive:${positiveKeywords.join(',')}`);\n  }\n\n  if (negativeKeywords.length > 0) {\n    score -= negativeKeywords.length * 5;\n    reasons.push(`hard_negative:${negativeKeywords.join(',')}`);\n  }\n\n  if (dateTextRegex.test(String(label || ''))) {\n    score += 1;\n    reasons.push('date_text');\n  }\n\n  if (eventTextRegex.test(String(label || '').toLowerCase())) {\n    score += 2;\n    reasons.push('event_text');\n  }\n\n  return {\n    score,\n    positiveKeywords,\n    negativeKeywords,\n    reasons,\n  };\n}\n\nfunction addFallbackCandidates(sourceUrl, seen, eventLinks, debugLinks) {\n  for (const path of FALLBACK_PATHS) {\n    const absoluteUrl = normalizeUrl(path, sourceUrl);\n    if (!absoluteUrl || seen.has(absoluteUrl)) continue;\n    seen.add(absoluteUrl);\n\n    eventLinks.push({\n      url: absoluteUrl,\n      label: 'fallback',\n      score: 0,\n      source: 'generated',\n    });\n\n    debugLinks.push({\n      url: absoluteUrl,\n      label: 'fallback',\n      accepted: true,\n      score: 0,\n      positive_keywords: [],\n      negative_keywords: [],\n      reasons: ['fallback_generated'],\n      reason: 'fallback_generated',\n    });\n  }\n}\n\nfunction classifyLinks(html, sourceUrl) {\n  const seen = new Set();\n  const eventLinks = [];\n  const nonEventCandidates = [];\n  const debugLinks = [];\n  let match;\n\n  while ((match = anchorRegex.exec(String(html || ''))) !== null) {\n    const href = String(match[2] || '').trim();\n    const absoluteUrl = normalizeUrl(href, sourceUrl);\n    if (!absoluteUrl || seen.has(absoluteUrl)) continue;\n    seen.add(absoluteUrl);\n\n    const label = extractAnchorLabel(match[1], match[3], match[4], href);\n    const { score, positiveKeywords, negativeKeywords, reasons } = scoreCandidate(absoluteUrl, label);\n    const accepted = positiveKeywords.length > 0 && negativeKeywords.length === 0 && score >= 3;\n\n    const debugEntry = {\n      url: absoluteUrl,\n      label,\n      accepted,\n      score,\n      positive_keywords: positiveKeywords,\n      negative_keywords: negativeKeywords,\n      reasons,\n    };\n    debugLinks.push(debugEntry);\n\n    const candidate = {\n      label,\n      url: absoluteUrl,\n      score,\n      positive_keywords: positiveKeywords,\n      negative_keywords: negativeKeywords,\n      reasons,\n    };\n\n    if (accepted) {\n      eventLinks.push(candidate);\n    } else if (positiveKeywords.length > 0 || negativeKeywords.length > 0) {\n      nonEventCandidates.push(candidate);\n    }\n  }\n\n  if (eventLinks.length === 0) {\n    addFallbackCandidates(sourceUrl, seen, eventLinks, debugLinks);\n  }\n\n  return { eventLinks, nonEventCandidates, debugLinks };\n}\n\nreturn items.map((item) => {\n  const source = item.json || {};\n  const sourceId = getSourceId(source);\n  const sourceName = getSourceName(source);\n  const sourceUrl = getSourceUrl(source);\n  const statusCode = getStatusCode(source);\n  const html = getHtml(source);\n  const fetchError = extractError(source);\n  const isSuccess = Number.isFinite(statusCode) && statusCode >= 200 && statusCode < 300;\n\n  if (!isSuccess || typeof html !== 'string' || fetchError) {\n    const error = fetchError ?? {\n      code: !isSuccess ? `http_${statusCode || 'unknown'}` : 'no_html',\n      message: !isSuccess ? `Fetch failed with status ${statusCode || 'unknown'}` : 'No HTML payload available',\n    };\n\n    return {\n      json: {\n        source_id: sourceId,\n        source_name: sourceName,\n        source_url: sourceUrl,\n        status: 'fetch_error',\n        event_links: [],\n        non_event_candidates: [],\n        debug_links: [],\n        errors: [error],\n      },\n    };\n  }\n\n  const { eventLinks, nonEventCandidates, debugLinks } = classifyLinks(html, sourceUrl);\n\n  return {\n    json: {\n      source_id: sourceId,\n      source_name: sourceName,\n      source_url: sourceUrl,\n      status: 'ok',\n      event_links: eventLinks,\n      non_event_candidates: nonEventCandidates,\n      debug_links: debugLinks,\n      errors: [],\n    },\n  };\n});"
      },
      "id": "1ea5697a-bcb9-4a92-b925-f022908bd8a0",
      "name": "Extract Event Links",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        -128
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.fetch_url }}",
        "sendHeaders": true,
        "specifyHeaders": "usingFieldsBelow",
        "options": {
          "redirect": {
            "redirect": {
              "maxRedirects": 4
            }
          },
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true,
              "responseFormat": "text"
            }
          },
          "timeout": 8000
        }
      },
      "id": "a6b9e0ce-0645-4c0d-8e47-851142e5db1d",
      "name": "Fetch Candidate Detail Page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1328,
        -128
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "f9131ebf-84e4-4da4-8333-83b5c919999f",
      "name": "Merge Candidate And Response",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1552,
        -128
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const items = $input.all();\nconst output = [];\n\nfor (const item of items) {\n  const source = item.json || {};\n  const sourceUrl = typeof source.source_url === 'string' ? source.source_url : null;\n  const sourceName = source.source_name ?? null;\n  const sourceId = source.source_id ?? null;\n  const eventLinks = Array.isArray(source.event_links) ? source.event_links : [];\n\n  for (const candidate of eventLinks) {\n    const candidateUrl = typeof candidate?.url === 'string' ? candidate.url : null;\n    if (!candidateUrl) continue;\n\n    output.push({\n      json: {\n        source_id: sourceId,\n        source_name: sourceName,\n        source_url: sourceUrl,\n        original_fetch_url: sourceUrl,\n        fetch_url: candidateUrl,\n        candidate_anchor_text: candidate?.label ?? null,\n        candidate_score: candidate?.score ?? null,\n        candidate_reasons: Array.isArray(candidate?.reasons) ? candidate.reasons : [],\n      },\n    });\n  }\n}\n\nreturn output;"
      },
      "id": "9a7088d9-6d4b-4eec-b5c4-3d24646e1d3c",
      "name": "Expand Event Candidates",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1328,
        -128
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Load Active Website Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Active Website Sources": {
      "main": [
        [
          {
            "node": "Normalize Source",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Source And Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Source": {
      "main": [
        [
          {
            "node": "Fetch Source Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Source Page": {
      "main": [
        [
          {
            "node": "Merge Source And Response",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Source And Response": {
      "main": [
        [
          {
            "node": "Extract Event Links",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Source Page": {
      "main": [
        [
          {
            "node": "Insert Raw Item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Raw Item": {
      "main": [
        [
          {
            "node": "Update Source Checked At",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Source Checked At": {
      "main": [
        [
          {
            "node": "Show Latest Raw Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Event Links": {
      "main": [
        [
          {
            "node": "Expand Event Candidates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Candidate Detail Page": {
      "main": [
        [
          {
            "node": "Merge Candidate And Response",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Candidate And Response": {
      "main": [
        [
          {
            "node": "Parse Source Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Expand Event Candidates": {
      "main": [
        [
          {
            "node": "Fetch Candidate Detail Page",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Candidate And Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "abf83651-136e-4b92-9a1d-d85e8756aab5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cb95f67de3eb2bd513200bc3cead3abaa69e890ba0a912740169783b0cf2958b"
  },
  "id": "bdUMvu4E7Mzkl003",
  "tags": []
}
